[2016-03-03 04:54] Magdoll opened #1 "Address possible cycles due to tandem repeats"
Currently, Cogent can resolve simple homopolymers and obvious cycles that are kmers that appear within the same transcript.

It is however possible that cycles appear not in any of the transcripts but when the graph is constructed and then bubbles are resolved (leading the collapse/merging of repeats), it leads to possible cycles.

ex: repeat of (CAG)n where the total length exceeds the k-mer size

[2016-11-07 16:50] raechin opened #2 "Is it possible to get AS events by Cogent?"
Dear Cogent developer,

I'm looking for a tool that can detect AS event from PACbio full length transcripts without reference genome. It is exciting that Cogent seems can. As described in Fig1 in the manuscript, Cogent can recontruct the contig for each gene.

Is it possible to get different AS events (exon skipping, intron retention, etc.) from the reconstructed contigs? Some tools like Astalavis

[2016-11-07 17:18] Magdoll commented on #2
Hi @raechin ,

Yes, theoretically you can get AS events using the Cogent reconstructed "contigs" as a "fake genome", with a caveat --- that is, Cogent reconstruction doesn't always generate exactly one contig. Sometimes it will generate multiple contigs if it cannot resolve the order of some AS events.

ex:
Isoform A:  exon 1, 2, 3
Isoform B:  exon     2, 3
Isoform C: exon   1,    3,  4

In this c

[2016-11-07 17:45] raechin commented on #2
Thank you very much for your quick and detailed response, Liz! I'll go trying Cogent for my pacbio data. Hopefully it'll work!

W.

[2017-01-04 08:42] sjin09 opened #3 "STARlong compatibility"
The STARlong has been recommended as a better choice for alignment of IsoSeq than GMAP on the wiki (https://github.com/PacificBiosciences/cDNA_primer/wiki/Bioinfx-study:-Optimizing-STAR-aligner-for-Iso-Seq-data).

The Cogent and cDNA_cupcake pipeline seems to require GMAP sam file as input. I have tried using the STARlong sam file as input towards cDNA_cupake and it seems to run fine except for th

[2017-01-04 18:16] Magdoll commented on #3
Hi,

Interesting. I would think STAR's SAM output should be the same as GMAP's and it would work. The error message displayed seemed to suggest the last line of SAM file may be corrupt or incomplete. What happens if you make a new SAM file that just has the last line deleted? If it works then, it's an indication your SAM file is incomplete and re-running STARlong again may be helpful.

If not, I c

[2017-01-06 06:16] sjin09 commented on #3
Hello,

I have recreated and resorted the sam file. It has worked perfectly. I should have tried this first! It is good to know that cDNA_cupcake is compatible with STARlong!

Thank you so much for your help.

Best,
Jin

[2017-02-23 05:52] #3 closed, assigned to nobody

[2017-03-06 19:32] Magdoll opened #4 "Feature: clean up GMAP DBs after reconstruction done"
- [x] GMAP DBs take up a lot of space. Clean up after reconstruction is done.

[2017-03-06 22:46] Magdoll commented on #4
Done automatically in v1.7

[2017-03-06 22:46] #4 closed, assigned to nobody

[2017-03-07 09:07] zhangfei1947 opened #5 "No module named ssw_wrap"
Hello! I'am trying to run Cogent, but I not sure where to find the python module "ssw_wrap". neither "ssw-0.3.1" nor "Complete-Striped-Smith-Waterman-Library-1.1" helps.

[2017-03-07 20:55] Magdoll commented on #5
Hi,

Please follow the instructions [here](https://github.com/Magdoll/Cogent/wiki/Installing-Cogent). You will have to install the [SSW library](https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library) first and include it in your library and python path as below:

[code]

[2017-03-23 18:22] #5 closed, assigned to nobody

[2017-05-23 07:35] zhangfei1947 opened #6 "Can't get "in.trimmed.fa.cogent2.gff" output file?"
Hello ! I can't get "in.trimmed.fa.cogent2.gff" output file using the example data while testing.

[2017-05-23 20:05] Magdoll commented on #6
I'm looking into the test issues now. Expect some resolution in a day or two.

[2017-05-23 22:25] Magdoll commented on #6
Hi,

By default `in.trimmed.fa.cogent2.gff` is not generated as it is not an essential part of the process. `cogent2.fa` is the output so `in.trimmed.fa.cogent2.gff` is just an additional post-Cogent alignment of the input to the output.

If you want to generate this file, you can do it manually using GMAP:

[code]

[2017-05-25 02:56] zhangfei1947 commented on #6
Thank you very much for your quick and detailed response, Liz!  ^^

[2017-05-27 08:30] zhangfei1947 commented on #6
Dear Magdoll:
    I have test the cogent with my own iso-seq data. I used the ICE output consensus reads as input, and the parameters is default 1000 and 30. But the cluster results is not very ideal, the input reads number is about 10,000 and the output is 9,000. Is this right or can I change some parameters to improve the results? thank you!

[2017-06-22 07:45] linglingtingfei opened #7 "Confusion about input file of Cogent"
Hi Liz,
I just want to confirm if input file of Cogent is full-length transcript or both FL reads and non-FL reads? you know, after running collapsing script,  representative sequences for each unique isoform can be generated. Should I consider it as input file for Cogent?
Actually, I'm always confused that ARE they all full length transcripts in representative FASTA file? if NO,  how  to filer ou

[2017-06-22 17:14] Magdoll commented on #7
In short: neither FL nor nFL CCS reads.

The input to Cogent should be after running Iso-Seq clustering, the high-quality (HQ) consensus isoform sequences. The filename is usually something like `all_sizes.quivered_hq.fasta`.

Cogent operates on the assumption that the sequences should have less than 1% errors. Neither the FL nor nFL CCS reads (using the default Iso-Seq classify criteria, which us

[2017-06-24 11:01] linglingtingfei opened #8 "Can't update conda"
Hi Liz,
Accoring to the WiKi said, conda is installed. When i updated it, it output errors (screenshot at below). I googled it, but i still can't find a solution. Could you give me a help, please! I'd really appreciated that! Moreover, when i run the command `conda create -n anaCogent python=2.7 anaconda`, it produced the same SystemError: error return without exception set.

![image](https://user

[2017-06-26 02:35] Magdoll commented on #8
Hi,
I'm not a conda/anaconda expert, but according to [this](https://github.com/conda/conda/issues/1414), you probably should have done 'conda update anaconda' instead.

In the worst case, installing a clean anaconda after wiping out the old one is probably not a bad idea.

--Liz

[2017-06-26 02:36] #7 closed, assigned to nobody

[2017-06-26 03:38] linglingtingfei commented on #8
@Magdoll Thank you for your reply. I solved it. it's just a bug for  Python2.7. It's been fixed for Python3

[2017-06-28 07:15] 52teth opened #9 "process_kmer_to_graph.py error: (subgraph) has 11 nodes. ncut down to 3 partitions"
Hi all,
Now I have been running cogent with my isoseq  polished data (388,024 reads)  following  the wiki  instructions (https://github.com/Magdoll/Cogent/wiki/Running-Cogent).  In the step 'Family Finding', I have got the k-mer profile and generated  pairwise distances file(isoforms.fasta.s1000k30.dist). But when process the distance file and create the partitions using command:
_process_kmer_to_

[2017-06-28 12:14] linglingtingfei commented on #6
Hi @Magdoll ，
When I run reconstruct_contig.py, it produced a error(shown on screenshot) during additional post-Cogent alignment of the input file.
My code: `reconstruct_contig.py test_human/0 -D /zs32/data-analysis/liucy_group/llhuang/Reflib -d gmap20151231-hg19`

![qq 20170628201320](https://user-images.githubusercontent.com/20789616/27636475-55a17934-5c3e-11e7-8c38-4adf3db38b1a.jpg)

[2017-06-28 19:01] Magdoll commented on #6
My guess is your genome is smaller than 4GB (which should call "gmap" not
"gmapl") so you should supply the `--small_genome` parameter.

To verify, you can manually run the `gmapl -D ....` command to confirm.

--Liz

On Wed, Jun 28, 2017 at 5:14 AM, linglingtingfei <notifications@github.com>
wrote:

[2017-06-29 06:24] 52teth commented on #9
I rerun my job again and I find my job is killed because of memory insufficient. Now I want to know is there any required memor, cpu and time stastics for Cogent?

[2017-06-29 22:33] Magdoll commented on #9
It really depends on the size of the input, but I usually run it with at least 60GB mem and do not see memory insufficient issues. Runtime also highly depends on input size & number CPUs you use. I'll keep in mind to generate a runtime report for Cogent when I have time.

[2017-06-30 00:58] 52teth commented on #9
Thanks a lot for you help! I will have a try again!

[2017-07-05 06:38] 52teth opened #10 "How to speed up Family Finding with process_kmer_to_graph.py?"
Dear Cogent developer,
Thanks for  Cogent which makes recontruct the contig for each gene possible.
Recently I have test Cogent with my isoseq data. But when I use  process_kmer_to_graph.py to do the 'Family Finding', it really spends too much time and memory.  I have tracked my  process_kmer_to_graph.py process and found that it only took one cpu. So I wonder if there any way to speed up the 'Fam

[2017-07-17 23:21] Magdoll commented on #10
Hi,
I am aware of this issue and working on an alternative way to identify gene families. I hope to release it in a week or two. I'll post to this issue and update the repo when it's ready!

Thanks,
--Liz

[2017-07-21 01:26] 52teth commented on #10
@Magdoll  Thanks a lot！Look forward to your new version of the release！

[2017-07-24 21:07] Magdoll commented on #10
Hi @52teth ,

Cogent version 2.0 has just been pushed to GitHub.

You will need to install the new version and additionally, follow instructions [here](https://github.com/Magdoll/Cogent/wiki/Installing-Cogent#cupcake) for installing minimap and Cupcake.

Afterwards, you can follow the [tutorial on family finding for big datasets](https://github.com/Magdoll/Cogent/wiki/Running-Cogent#findbig).

Thi

[2017-07-26 06:55] 52teth commented on #10
@Magdoll  Thanks a lot! I  will try it with my Isoseq data!

[2017-07-26 18:16] #9 closed, assigned to nobody

[2017-07-26 18:17] Magdoll commented on #1
This is now semi-addressed through better cycle detection and a [troubleshooting section](https://github.com/Magdoll/Cogent/wiki/Running-Cogent#trouble).

[2017-07-26 18:17] #1 closed, assigned to nobody

[2017-07-26 18:17] #6 closed, assigned to nobody

[2017-07-26 18:17] #8 closed, assigned to nobody

[2017-08-30 03:29] yangtried commented on #2
Dear Cogent developer,
I have got "cogent2.fa" and "in.trimmed.fa.cogent2.gff" files,but I want to know how to find AS events,I don't know how to do use gff file,could you give me some advices?
Thank you very much!
Yh

[2017-08-31 16:52] #10 closed, assigned to nobody

[2017-08-31 16:55] Magdoll commented on #2
Hi @yangtried ,

In the absence of a genome, you can  use `cogent2.fa` as a fake genome. Then you can visualize the input mapped to the fake genome which is the GFF file `in.trimmed.fa.cogent2.gff`.

<img width="696" alt="screenshot 2017-08-31 09 55 25" src="https://user-images.githubusercontent.com/590447/29935132-94789c34-8e32-11e7-84ec-84c6f0ffc8d0.png">

Here is an example of how Cogent visual

[2017-09-10 14:02] NElight commented on #2
hi, dear Cogent developer:
i use ex:
Isoform A: exon 1, 2, 3
Isoform B: exon 2, 3
Isoform C: exon 1, 3, 4
but this three fasta can not result in one family, how can i get the 1,2,3,4 result?
thank u

[2017-09-11 16:46] Magdoll commented on #2
@NElight ,
I'm not sure I understand. Are you running reconstruction? How many sequences do you have in the input (in.trimmed.fa) and how many reconstructed contigs (in cogent2.fa) did you get? How do you know you have the isoform A-B-C structure as described?

--Liz

[2017-10-16 14:37] kohnos opened #11 "conda install"
After a command "conda install -c http://conda.anaconda.org/timcera pulp", I got a warning as below during install.  What should I change?

[2017-10-20 05:50] yangtried opened #12 "minimap preCluster"
hi ,
    I am delighted to use minimap for preprocessing when using large data. However, the number of transcripts in the different partition is unbalanced, with one of them reaching tens of thousands, resulting in a very slow division and memery costing of the gene family.I would like to know there are no parameters to solve this problem or other methods，Looking forward to your reply，thanks.

yan

[2017-10-21 18:47] Magdoll commented on #12
Hi,
Yes I am aware of this issue and trying to improve it. Note that the imbalance is also somewhat natural --- some bins (transcripts) are simply more abundant! But it does look like right now the preclustering processing is a bit too relaxed, sometimes binning not-so-related sequences together.

I encourage you to update to the latest version of Cupcake (v.3.9 https://github.com/Magdoll/cDNA_Cup

[2017-10-21 18:48] Magdoll commented on #11
Closing as the OP found a solution via `conda install -c agerlach pulp`.

[2017-10-21 18:48] #11 closed, assigned to nobody

[2017-10-22 14:28] yangtried commented on #12
@Magdoll Thank you very much for your reply and expect you to improve this problem and I will try the new version of Cupcake

[2017-10-27 14:42] gnetsanet commented on #3
Hi,

I do not think the issue has to do with mapping or sam file not being sorted.

If you did the cluster part using tofu or pbtranscript.ice_partial,  the fasta file -
 final.consensus.fasta - will have headers that resemble the one below.

[code]

The above ids (eg. c262127/1/1651 ) will make it to the sam files regardless of what you used for alignment, GMAP or STARlong.

Therefore, the follow

[2017-10-27 19:07] Magdoll commented on #3
Hi @gnetsanet ,

You are correct that having reads without the expected format, namely `>c262127/1/1651` (an old format that is now deprecated) instead of `>i0_HQ_sample1|c262127/f1p10/1651` (new, expected format) will cause collapse script to fail.

If you do have the old format, you will need to convert it to the new format by hacking the sequence IDs. This could be done with Python and BioPytho

[2017-10-30 02:35] yangtried commented on #12
@Magdoll Hello, I have installed the latest version of cupcake, but can not function properly. Have you ever tried to run this version and the unbalanced partition has not been improved? I am very anxious to deal with this problem, whether you can change a parameter to control the problem?

[2017-10-30 05:54] Magdoll commented on #12
Hi @yangtried ,
Do you mean you tried `--dun_use_partial` and the preclustering results remain the same? Or just that it didn't improve the largest partitions any better. I would need more details on the largest precluster bin sizes to have some idea.

--Liz

[2017-10-31 08:44] yangtried commented on #12
hi @Magdoll ，
 I did not run the latest version of cupcake smoothly because of the following error:
“ pkg_resources.run_script('cupcake==3.9', 'run_preCluster.py')
  File "build/bdist.linux-x86_64/egg/pkg_resources/__init__.py", line 739, in run_script
  File "build/bdist.linux-x86_64/egg/pkg_resources/__init__.py", line 1500, in run_script
  File "/ifs/TJPROJ3/PB/yangjie/cogentlib/Python2/lib/pyt

[2017-10-31 08:47] yangtried commented on #12
Hi @Magdoll ，
 I did not run the latest version of cupcake smoothly because of the following error:
“ File "/Python2/bin/run_preCluster.py", line 5, in <module>
    pkg_resources.run_script('cupcake==3.9', 'run_preCluster.py')
  File "build/bdist.linux-x86_64/egg/pkg_resources/__init__.py", line 739, in run_script
  File "build/bdist.linux-x86_64/egg/pkg_resources/__init__.py", line 1500, in run_s

[2017-10-31 16:33] Magdoll commented on #12
Hi,

There was an issue with v3.9 when I merged two branches. It should be corrected now in the v4.0 version: https://github.com/Magdoll/cDNA_Cupcake/tree/v4.0

Here's a comparison of the top 5 bins by using and not using `--dun_use_partial`:

### using `--dun_use_partial`
[code]

### not using `--dun_use_partial`

[code]

[2017-11-01 08:25] yangtried commented on #12
hi @Magdoll ，
 I have used the 4.0 version, and there is a big improvement in partition balancing, but unlike your top 5 bins, there are still thousands of transcripts that form a partition. I have a different question, why do some transcripts can form a gene family, and some are classified as unassigned? Looking forward to your reply ~

[2017-11-01 17:05] Magdoll commented on #12
Hi @yangtried ,

I tested the `--dun_use_partial` option on a very small dataset (65k FLNC sequences), so naturally, my top bins are still very small. Having a few thousand in a partition is still going to run decently fast.

the preClustering step classifies all sequences that do not have any hits (if you use `--dun_use_partial`, it would have to be a full hit) to any other sequence, based on min

[2017-11-02 08:23] yangtried commented on #12
hi @Magdoll ，
Thank you very much for your reply, I use the 330M full length transcript, use --dun_use_partial get about 10,000 bins, each bin contains about 3 to 10 transcripts, only one bin contains 2000 transcripts, I do not know Is this normal? Another question, when refactoring, I get a very short contig, as shown below, path1.why is this happening? I think this contig is not desirable.
“>pat

[2017-11-03 16:27] Magdoll commented on #12
Hi @yangtried ,

1. It really depends on the diversity and abundance distribution of your transcripts in the sample, so I can't comment on that. minimap is pretty promiscuous, so if it truly can't find more than 3-10 sequences that have decent (full hits, because you used `--dun_use_partial`), then it is what it is.

2.  The short "path1" will occasionally happen with heavily trimmed sequences. Co

[2017-11-07 05:54] yangtried commented on #12
hi @Magdoll ，
Thank you very much for your reply. Does it seem normal to have an over-pruning sequence in in.trimmed.fa?
You have already replied to how the orphan was formed, I am very sorry I did not understand what is the meaning of hit here. Can you explain it for me? Why do you think that the sequence containing more than 16 PolyTs in the first 20 bases of an orphan sequence is a PCR chimeric

[2017-11-07 22:56] Magdoll commented on #12
Hi @yangtried ,
For short sequences (< 500 bp) that have a lot of lower case, i.e. indication of low quality, bases at the flanking regions, trimming them away would lead to a very short sequence that is of little use to the Cogent reconstruction process. If you think the lower case sequences are actually trustworthy and should not be trimmed, you can provide an input sequence that is all upper ca

[2017-11-09 08:15] crystal0721 opened #13 "The problem of reconstruct_contig.py"
hi, Dear
    when I test  reconstruct_contig.py，there is a problem as follows：
      reconstruct_contig.py -h
Traceback (most recent call last):
  File "/home/software/Cogent/software/Anaconda2/envs/anaCogent/bin/reconstruct_contig.py", line 4, in <module>
    __import__('pkg_resources').run_script('Cogent==2.1', 'reconstruct_contig.py')
  File "/home/software/Cogent/software/Anaconda2/envs/anaCog

[2017-11-09 20:11] Magdoll commented on #13
Hi @crystal0721 ,

`reconstruct_contig.py` currently does not support the `-h` option, despite what it says when you directly type the command. If you want to know what options are avail just type the program name itself. Sorry about that. I'll fix it in the next release.

[code]
-Liz

[2017-11-10 04:05] crystal0721 commented on #13
hi Magdoll,
      Thank you very much for your replay and  I had  soloved. While  having something  that I want to get help or suggestion from you. There is a way  that can combine   transcripts produced by Trinity and  Full-length transcripts produced by SMRTlink or  SMRTanalysis besides CDHIT，the results  we want to obtain is GeneID and its corresponding Transcripts ID in  order to the following

[2017-11-12 12:59] yangtried commented on #12
hi @Magdoll ，
Hi, after testing, I also found a problem that when using the argument, --unun_partial, the orphan sequence increased, as I got 7743 orphan sequences and 1522 chimeric sequences before using this parameter, however, after using the parameters , The same test data, I got 64559 orphan sequences and 11251 chimeric sequences, and these sequences in the subsequent gene family and reconstr

[2017-11-13 20:21] Magdoll commented on #13
Hi @crystal0721 ,

One possibility is to combine {Trinity} + {HQ isoforms from SMRTLink/SMRTAnalysis} into a single fasta file and run it through Cogent. After reconstruction, use the collapse script per [this tutorial](https://github.com/Magdoll/Cogent/wiki/Tutorial%3A-Using-Cogent-to-collapse-redundant-transcripts-in-absence-of-genome) to collapse any redundant transcripts. The collapse script s

[2017-11-13 20:23] Magdoll commented on #12
Hi @yangtried ,

Yes it is totally expected that using `--dun_use_partial` would increase the number of orphan sequences. Because `--dun_use_partial` means any sequence that only has a partial hit will now be considered not a hit and is more likely to become "orphans".

--Liz

[2017-11-14 07:39] crystal0721 commented on #13
hi Magdoll,
   Thank you for replaying. I would know what you mean，mybe I will try it.While there are some questions I want to discuss.When we use cogent to collapse redundant transcripts to  obtain cogent2.renamed.fasta which was considered as genome，why we use Cupcake  to redundant transcript again？I thought the  cogent2.renamed.fasta  was non-redundant sequence which could be as genome sequence

[2017-11-18 11:53] zhuyiqin opened #14 "erro in reconstruct_contig.py when testing"
Hi, Dear
I met a problem when running the test using command "reconstruct_contig.py test_human/test_human_0" as follows:
/SDIVF/GUEST/zhuyb/Software/anaconda3/envs/anaCogent/lib/python2.7/site-packages/Bio/Seq.py:349: BiopythonDeprecationWarning: This method is obsolete; please use str(my_seq) instead of my_seq.tostring().
  BiopythonDeprecationWarning)
Opening file cogent.fa
  Processed short con

[2017-11-19 04:38] Magdoll commented on #14
Hi,
It looks like an issue with processing GMAP. It appears you are using an extremely old version of GMAP (`GMAP version 2011-03-28.v3 `) which was never tested. Please try upgrading to a newer version of GMAP (preferably the latest, if not after 2016) and let me know if you still see issues.

FYI, I will be on vacation until 11/30. Expect delay in responses.

--Liz

[2017-11-26 10:03] zhuyiqin commented on #14
Thanks, it works well after updating the GMAP.

[2017-11-27 19:46] #14 closed, assigned to nobody

[2017-12-05 02:02] zhuyiqin opened #15 "error in reconstruct_contig.py"
Hi,

Some jobs failed when I ran reconstruct_contig.py with the following messages:
Traceback (most recent call last):
  File "/zfssz4/BC_COM_P4/F15HTSSCKF3698/soft/anaconda3/envs/anaCogent/bin/reconstruct_contig.py", line 4, in <module>
    __import__('pkg_resources').run_script('Cogent==2.1', 'reconstruct_contig.py')
  File "/zfssz4/BC_COM_P4/F15HTSSCKF3698/soft/anaconda3/envs/anaCogent/lib/pyth

[2017-12-05 14:17] whispersbowl opened #16 "collapsing problem"
Hi,
I am running Cogent and when running the command:

process_kmer_to_graph.py my_high_qual_isoforms.fa my_high_qual_isoforms.fa.s1000k30.dist CP1/ CP1

It gives me the error:
AttributeError: 'Graph' object has no attribute 'nodes_iter'

which seems to be a compatibility error between the code and the NetworkX new version, or maybe not; either way, I am stuck, can you help me please?.

this is th

[2017-12-05 22:09] Magdoll commented on #15
@zhuyiqin ,

This is an unusual error. The `bx.intervals` package seems to be complaining that the genomic interval given is too large!?

Would it be possible to share the input sequence with me? You can email it to etseng@pacb.com.

--Liz

[2017-12-05 22:12] Magdoll commented on #16
Hi @whispersbowl ,

Can you check your networkx version? see below:

[code]

[2017-12-05 22:18] Magdoll commented on #13
Hi @crystal0721 ,

`cogent2.renamed.fasta` is the reconstructed "fake" genome that consists of just the transcribed coding portions of a genome. So yes, you are correct that "cogent2.renamed.fasta was non-redundant sequence which could be as genome sequence of Pacbio data".

I was answering your question in how to combine (Illumina) Trinity data with PacBio HQ isoforms. The reason I suggested comb

[2017-12-05 23:06] whispersbowl commented on #16
Hi @Magdoll

I have checked and it is version 2.0. Networkx got installed within my anaCogent environment. Do you think is advisable to downgrade?.

[2017-12-05 23:17] Magdoll commented on #16
@whispersbowl ,
It seems like `nodes_iter` was removed in version 2.0.

See in version 1.9, `nodes_iter` is described under the Nodes section:
https://networkx.github.io/documentation/networkx-1.9/reference/functions.html#graph

It appears in version 2.0 the function is now called `nodes` under the Nodes section:
https://networkx.github.io/documentation/stable/reference/functions.html

I'll file a

[2017-12-05 23:19] whispersbowl commented on #16
thanks!

Just reporting, so far I had no problems running process_kmer_to_graph.py and a couple of other steps in the environment after downgrading the to networkx 1.9.1.

[2017-12-06 01:05] zhuyiqin commented on #15
@Magdoll ,

There are more than 20 thousand identified families for my data, about 2 thousand of them have this issue. I have sent one of the problematic input sequences to your email.
Thank you.

[2017-12-07 19:19] #16 closed, assigned to nobody

[2017-12-22 09:41] yangtrytry opened #17 "Cogent_family_finding_issue"
hi，dear:
I used tens of thousands of pieces of data, after Cogent_family_finding, some of the sequences in the preCluster_out.orphans.fasta and preCluster_out.chimeras.fasta files and a part in the in.fa file for each of the divided gene families,  however, all sequences of these files  is not equal with my input sequence , and lacking of part of the sequence.why does this happen? In which file is

[2017-12-22 18:07] Magdoll commented on #17
Hi @yangtrytry ,

All sequences should be accounted for. Please check `preCluster.output.csv` to see which sequences are assigned to which cluster or is an orphan or chimera. If you notice issues, please give me a specific example of a sequence that is denoted in `preCluster.output.csv` and missing in where it should be.

--Liz

[2017-12-27 07:20] yangtrytry commented on #17
Hi,dear,
As you said, all the sequences are indeed in the preCluster.output.csv file, and they are divided into different cluster, such as i5_LQ_taxus_c8842 / f1p1 / 5266, 9571 i1_LQ_taxus_c29820 / f1p0 / 1136, 9571 i0_LQ_taxus_c3243 / f1p0 / 1129 , 9571, these three sequences will be divided into 9571_0 cluster; however, preCluster_out does not contain 9571_0 cluster, and cmd.sh does not involve

[2018-01-11 18:17] Magdoll commented on #17
Hi @yangtrytry ,

Sorry for the late reply (was away during holidays).

Is this still an issue?

Can you please show me the entries containing cluster `9571_0` in `preCluster.output.csv`? Then, can you show me a few sequence IDs from the input file?

I'm wondering if sequence ID format is the issue here. If it is a sequence ID problem, I can fix it pretty quickly, but I need to see what the sequen

[2018-02-01 10:01] fantastycrane opened #18 "networkx module version problem in Mash_based family finding"
Hi, @Magdoll

I installed Cogent using Anaconda recently and tested it with my own data. An error occured while running cmd in the bash file generated by generate_batch_cmd_for_Cogent_family_finding.py. Information is listed as follows.

"""
2.0
Expected output isoseq_flnc.fasta.s1000k30.dist already exists. Just use it.
making weight graph from  /share/nas1/yangch/test/Cogent/01.generate_bins/pre

[2018-02-01 14:53] Magdoll commented on #18
Please downgrade to networkx-1.9 (I think 1.10 also work...guess not for 1.11).

You should be able to verify the networkx version will work if the following can be done:
[code]

[2018-02-02 02:12] fantastycrane commented on #18
My mistake. I did not downgrade networkx in anaCogent environment. The command works fine with version 1.11. Thanks.

[2018-02-02 02:12] #18 closed, assigned to nobody

[2018-02-23 03:22] kaihuang2016 opened #19 "there was no run_preCluster.py script"
Hi @Magdoll ,
I was installed Cogent using Anaconda almost follow the manuals, only in "conda install -c http://conda.anaconda.org/timcera pulp" cannot find user timcera, so I run "conda install -c http://conda.anaconda.org/conda-forge pulp", and there was no error in the installing. In the end, run_mash.py and other scripts are in the path of Anaconda2-5.0.1/envs/anaCogent/bin/, but there was no

[2018-02-24 08:48] kaihuang2016 commented on #19
Hi @Magdoll ,
I have finded the closed issues to reinstalled Cogent with run "conda install -c agerlach pulp". And find this script in cDNA_Cupcake. My mistake. Thanks.

[2018-02-24 08:48] #19 closed, assigned to nobody

[2018-03-01 18:46] zhyw86 opened #20 "libssw.so: undefined symbol: cigar_int_to_len"
I was have an issue your answer before about ssw_wrap.py. To solve the problem, I copied the ssw_wrap.py from this repo: https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library

Now I am getting: libssw.so: undefined symbol: cigar_int_to_len.

When I get back to the code, I found this function is in  ssw_cpp.cpp. Why this function is not included in the lib file?

[2018-03-01 23:16] Magdoll commented on #20
Hi,
You should not have to directly copy `ssw_wrap.py` from other repos! It is already included in the Cogent installation.

Please make sure you have installed Cogent per [installation wiki here](https://github.com/Magdoll/Cogent/wiki/Installing-Cogent) and that you have the appropriate variables configured:

[code]

[2018-03-02 06:36] fantastycrane commented on #7
Hi @Magdoll ，
While i was runnning Cogent , all_sizes.quivered_hq.fasta along with all_sizes.quivered_lq.fasta corrected using Illumina RNASeq data was used as input. It seems proovread replaced some bases in the original sequence with 'N' and the script exit with error while reconstructing contigs.
"""
Processed 3 queries in 0.17 seconds (17.65 queries/sec)
sequence T02.PB33997 contains non A/T/C

[2018-03-03 00:08] Magdoll commented on #7
Hi @fantastycrane ,

Cogent does not allow non-ATCG characters. If proovread inserted "N" bases, my suggestion is to first convert them all to some base -- one of A, T, C, G --- so that they would be accepted as input.

On the other hand, I'm curious as to why proovread would introduce N bases.

--Liz

[2018-03-05 03:42] fantastycrane commented on #7
@Magdoll  Thanks.
Proovread substitutes non-ATGC with N. I have checked quivered output and there is no such problem. Something else must be going wrong.

[2018-03-05 15:51] zhyw86 commented on #20
I forgot to use python install.

Thanks!

[2018-03-05 15:51] #20 closed, assigned to nobody

[2018-03-06 12:05] rrim opened #21 "Count file from Cogent' test_data folder"
Hi, I am trying to collapse redundant sequences for a set of full-length transcripts (that has a pretty crappy genome). I decided to use Cogent to collapse the redundant isoforms de novo. But before I use it on my transcripts, I  tried running Cogent using the provided test data. Can you please tell me where test_human.weights file originates from? How do I create similar count file  for my own da

[2018-03-09 02:33] fantastycrane opened #22 "Confusion about collapsing result with Cogent"
Hi @Magdoll ,
I have run Cogent according to the tutorial and collapsed original sequences with fake genome created by Cogent. I noticed that considerable part of sequences , about 20% in my case, were classified to ignored_ids. Is this normal? Shouldn't it be that all sequence can map (parameters: -c 0.95, -i 0.85) to the fake genome based on them? And should I exclude these ignored sequences or

[2018-03-09 16:50] Magdoll commented on #21
Hi @rrim,

The `.weights` file is optional. It should contain some count or weighted evidence information about each sequence. For example, it could be the number of full-length reads that support this sequence.

If weight file is not given, a fake weight file where every sequence has a weight of 1 will be created.

[2018-03-09 16:55] Magdoll commented on #22
Hi @fantastycrane ,

Can you look into whether the thrown out sequences were unmapped or removed due to low coverage/identity?

You can use commands below:
[code]

Unmapped reads could be because they were excluded during the Cogent family finding phase (they would be part of the `unassigned` in the output). Low coverage or identity reads have other explanations. I'd like to see which category is

[2018-03-11 00:31] abayega opened #23 "Nanopore data"
Hi,

have you used Cogent on Nanopore RNA-Seq data where the raw-read errors are ~15%? If yes, could comment on the performance of Cogent?

Thanks

[2018-03-11 06:25] Magdoll commented on #23
Hi @abayega ,
The two assumptions that Cogent makes is that (a) the input is full-length transcripts (as opposed to short fragments of transcripts) and (b) the input is high-quality, that is mostly >=99% accuracy.

Even for PacBio Iso-Seq data, I don't recommend ppl use raw data or CCS sequences that are not of high quality.  Since Cogent does not do error correction, the data would have to alread

[2018-03-11 21:41] abayega commented on #23
Got it, thank you

[2018-03-12 05:39] fantastycrane commented on #22
Most of them are unmapped (5565, 112 and 1980 for unmapped, low identity and low coverage). There are 4373 unassigned sequences and I have concatenated unassigned with Cogent contigs while creating the "fake genome".

[2018-03-12 18:41] Magdoll commented on #22
Hi @fantastycrane ,

The low coverage ones are probably thrown out because the Cogent reconstruction trims of low quality (lower case) bases at the ends (`in.fa` --> `in.trimmed.fa`) so the reconstruction contigs would not include the flanking bases. If you can take a look at the message for `<seqid> Coverage 0.93 is too low.` then that probably explains it.

For the unmapped, can you trace where

[2018-03-13 06:11] fantastycrane commented on #22
Most of unmapped sequences are found in preCluster_out.orphans.fasta and preCluster_out.chimeras.fasta. Should these sequences be included while creating fake genome?

[2018-03-13 09:51] rrim commented on #21
Hi @Magdoll ,

Thanks for your reply.

The reason I asked about the weight file is that whenever I tried using the provided human test data without including the file (during run-Mash process; I used the following command:
process_kmer_to_graph.py test_human.fa test_human.fa.s1000k30.dist test_human/ human), the downstream reconstruction_contig.py execution on one of the folder failed with the fol

[2018-03-13 22:02] Magdoll commented on #22
Hi @fantastycrane ,

Oh that makes sense now!

The `preCluster_out.orphans.fasta` are orphan sequences that are effectively "unassigned", so yes they should be included. I'll update the wiki.

The `preCluster_out.chimeras.fasta` are likely chimeric artifacts. I recommend simply discarding them.

--Liz

[2018-03-14 01:10] fantastycrane commented on #22
OK, thanks.

[2018-03-14 18:31] #22 closed, assigned to nobody

[2018-03-14 18:31] #23 closed, assigned to nobody

[2018-03-14 19:20] Magdoll commented on #21
Hi @rrim ,

When you run the test fasta without weights, the scripts will automatically generate `in.weights` for you.

For example:

[code]

[2018-03-14 19:22] Magdoll commented on #21
Also, please note I've recently updated Cogent to work exclusively with minimap2 and removed all usages of GMAP. This is now [Cogent v3.1](https://github.com/Magdoll/Cogent/tree/v3.1). I've also just updated the [wiki](https://github.com/Magdoll/Cogent/wiki/Running-Cogent) to update the run parameters for the scripts.

--Liz

[2018-03-15 14:23] rrim commented on #21
Ok, thanks. Will re-try with the latest version

[2018-03-16 15:22] rrim commented on #21
Hi,
I was trying to update COgent to its current version (Cogent 3.1). The installation went on smoothly (as per tutorial). All related scripts were located in my dedicated anaCogent python 2.7 virualenv. All dependencies (minimap2, cDNA_cupcake and Mash were also installed successfully previously). All necessary path variables were already specified.  However, when I entered `run_mash.py --versio

[2018-03-16 16:46] Magdoll commented on #21
Hi @rrim ,

Can you make sure there are no older versions of Cogent in the anaCogent env?

You can check via:
[code]

You will want to remove any Cogent install that isn't `Cogent-3.1-py2.7.egg`.

The import message is also strange. It should be importing from the anaCogent env as below:

[code]

But instead your err msg shows the import is coming from `/home/ab42303/.local/lib/python2.7/site-pack

[2018-03-23 09:46] fantastycrane opened #24 "Assertion error while cogent reconstruct"
Hi, @Magdoll

I ran into following error while running cogent reconstruction.

 """
Traceback (most recent call last):
  File "/share/nas1/liyingying/tools/soft/cogent/Anaconda/anaconda3/envs/anaCogent/bin/reconstruct_contig.py", line 4, in <module>
    __import__('pkg_resources').run_script('Cogent==2.1', 'reconstruct_contig.py')
  File "/share/nas1/liyingying/tools/soft/cogent/Anaconda/anaconda3

[2018-03-23 23:29] Magdoll commented on #24
Hi @fantastycrane ,

This usually indicates a pathological case that is causing a bug.
Would you be able to share the offending case (`in.fa`) to etseng@pacb.com for debugging?

Thanks,
--Liz

[2018-03-29 07:13] fantastycrane commented on #24
I have sent requested in.fa. Is there any progress?

[2018-03-29 22:05] Magdoll commented on #24
@fantastycrane ,
I did not receive the email and could not find it in the SPAM either. Please give me an email address and I will request a file dropoff for you to upload.

--Liz

[2018-03-30 01:23] fantastycrane commented on #24
Here is my email address: fantastycrane@163.com. thanks.

[2018-04-02 14:01] Magdoll commented on #24
THanks I have received the file. I'm on vacation this week and will look into it when I return to work 4/9.

[2018-04-08 15:58] lijl459 opened #25 "TypeError: 'dictionary-keyiterator' in reconstruct_contig.py"
Hellow,
  Some jobs failed when I was Testing Cogent with the following messages:
  python /home/share/user/user150/software/Cogent/Cogent/Cogent/reconstruct_contig.py test_human/test_human_0
2.10-r763-dirty
/home/share/user/user150/software/Cogent/anaconda2/pkgs/Bio/Seq.py:349: BiopythonDeprecationWarning: This method is obsolete; please use str(my_seq) instead of my_seq.tostring().
  BiopythonDe

[2018-04-12 16:59] Magdoll commented on #25
Hi @lijl459 ,

Can you confirm the networkx version you have? It looks like a package version issue. Cogent is currently tested with version 1.10.

[code]

Depending on your version, you may need to [upgrade or downgrade your networkx in Anaconda](https://stackoverflow.com/questions/23974217/how-do-i-revert-to-a-previous-package-in-anaconda).

[2018-04-16 05:26] fantastycrane commented on #24
Has this bug been fixed?

[2018-04-16 20:40] Magdoll commented on #24
Hi @fantastycrane ,

This is now fixed in the new version 3.2. The cause of the bug was an edge case where one of your sequences (`c6115/f1p2/4275`) had a polyA tail at the end. While the new version will now run successfully, I would suggest removing the polyA tail since it should have been removed but wasn't. You can use [trim_polyA](https://github.com/bowhan/trim_isoseq_polyA) to remove it or j

[2018-04-17 09:45] ClearloveMiao opened #26 "Error about Cogent installing"
Hi @Magdoll ,

After I activating the anacognet by typing :
`source activate anaCogent`
and it also show :
`(anaCogent) user181@cu02#`
that proved activation successful.

But when I type :
`git clone https://github.com/Magdoll/Cogent.git`
to begin install Cogent, the server showed :
`zsh: correct 'git' to '_git' [nyae]?`
and I will type `n`, then it showed :
`zsh: command not found: git`

It's abn

[2018-04-17 10:23] fantastycrane commented on #24
Thanks.  I'll try update Cogent and trim polyA tail.
Another question, sometimes number of input sequences for reconstruction in one gene family is too large and the reconstruction can not be completed . Could I split the input sequences and perform reconstruction on them separately?

[2018-04-17 14:39] ClearloveMiao commented on #26
I have encountered another problem about Cogent installing.

In the wiki of 'Installing Cogent', it mentioned that using :

`conda install -c http://conda.anaconda.org/timcera pulp`

to install PuLP, but I couldn't install it successfully and it has reported some errors, such as:

`/wtmp/user181/software/Anaconda/anaconda2/lib/python2.7/site-packages/requests/__init__.py:80: RequestsDependencyWarn

[2018-04-17 16:32] Magdoll commented on #24
HI @fantastycrane ,

`reconstruct_contigs.py` already automatically splits the input into smaller sizes. The split size is determined in [settings.py `MAX_SPLIT_IN_SIZE`](https://github.com/Magdoll/Cogent/blob/master/Cogent/settings.py#L8) which you are free to change. In fact the input you shared with me was split into two parts. You may have had an old version of Cogent if it did not automatical

[2018-04-19 02:27] #26 closed, assigned to nobody

[2018-04-19 02:28] ClearloveMiao opened #27 "Error in running `process_kmer_to_graph.py`"
Hi, @Magdoll ,

I am running the `process_kmer_to_graph.py` for 'running Family Finding for a small dataset', but it reported such error like the below picture and stopped.

![image](https://user-images.githubusercontent.com/37678675/38967773-23c64c9a-43bb-11e8-9bdf-a814aab2e1f1.png)

It seems like the version of package `six` is too old, but I have installed `six=1.10.0` by using `conda install i

[2018-04-19 06:58] fantastycrane commented on #24
Hi @Magdoll ,

The input in my case had been split into several parts as you said. Still, it did not output the final cogent2.renamed.fasta. Here are last few lines in hello.log.

"""
2018-04-10 01:08:37,502 - Cogent.splice_cycle - INFO - K-mer in-seq cycle detection: 452167 in-seq cycle found with max common         sequence analysis showing min: 101, max: 8783, mean: 1273.74606948
2018-04-10 01:

[2018-04-19 13:06] ClearloveMiao commented on #27
And what is this error `ImportError: cannot import name xrange` meaning? Is `xrange` a python package?
The error is liking below:
![image](https://user-images.githubusercontent.com/37678675/38993301-ccebede8-4415-11e8-85d4-4be3fd03ae0d.png)

[2018-04-19 17:45] Magdoll commented on #27
Hi @ClearloveMiao ,

All of these errors are indicating you are using very different versions of Python and other associated packages.

I'm going to have you try this. Please edit `setup.py` in your Cogent directory and change the part that contains `setup(name...`  to:

[code]

Then re-build and install. Let me know how it goes.

--liz

[2018-04-19 17:48] Magdoll commented on #24
Hi @fantastycrane ,

That's really weird.  Let's talk through email. Cogent is deterministic so it should be the same results.

--Liz

[2018-04-20 03:01] ClearloveMiao commented on #27
Hi, @Magdoll ,

I have changed the script `setup.py` according to your suggestion, but when I run the `python setup.py install`, it have reported many `warn` when the script was running, because it reported too many and too fast so I haven't copy it at time.

But, after finishing install, what it has showed just like the below picture:
![image](https://user-images.githubusercontent.com/37678675/39

[2018-04-20 17:36] Magdoll commented on #27
Hi @ClearloveMiao

I'm not sure why scipy is complaining. Please confirm that you are running Python2:

[code]

And also let me know which scipy version you have:

[code]

[2018-04-21 01:58] ClearloveMiao commented on #27
Hi, @Magdoll ,
First, I have confirmed that I am running Python2:

![image](https://user-images.githubusercontent.com/37678675/39079302-1c837076-454a-11e8-9da0-032177b050ef.png)

Second, scipy version I have:

![image](https://user-images.githubusercontent.com/37678675/39079319-6df9d9b8-454a-11e8-9faf-818041491ffa.png)

Thanks for any suggestions!

[2018-04-23 18:07] Magdoll commented on #27
Hi @ClearloveMiao ,
It looks like the newer versions of scipy have changed certain libraries. For the meantime, please downgrade scipy to 0.17.0.

--Liz

[2018-04-24 06:20] ClearloveMiao commented on #27
Hi, @Magdoll ,

I have downgrade scipy to 0.17.0 by `conda install -n anaCogent scipy=0.17.0`, but when I run `process_kmer_to_graph.py`again, it reported another error:

![image](https://user-images.githubusercontent.com/37678675/39169450-716b7eee-47ca-11e8-9e9e-40207d149f0d.png)

So, what has caused this error and how can I do?

[2018-05-02 11:59] tengdiyouying608 opened #28 "error in running reconstruct_contig.py"
Hi:
   It reported ValueError when I ran reconstruct_contig.py with the following messages:
Traceback (most recent call last):
  File "/share/nas1/liyingying/tools/soft/cogent/Anaconda/anaconda3/envs/anaCogent/bin/reconstruct_contig.py", line 4, in <module>
    __import__('pkg_resources').run_script('Cogent==2.1', 'reconstruct_contig.py')
  File "/cogent/Anaconda/anaconda3/envs/anaCogent/lib/pytho

[2018-05-02 16:32] Magdoll commented on #28
Hi @tengdiyouying608 ,

It looks like in the split directories, the file `in.weights` is not being properly propagated.

The `in.weights` file should look like below, where one column is the sequence ID and the second column is the weight (default is 1). The two columns should be separated by a tab.

[code]

Can you check that you have `in.weights` in the run directory and the split directories?

[2018-05-07 03:46] ClearloveMiao opened #29 "Errors in the final step : filter_away_subset.py"
When I run the `filter_away_subset.py`, and it has reported such error like below:

![image](https://user-images.githubusercontent.com/37678675/39684015-97c248f4-51eb-11e8-9a01-e9c946d2227e.png)

But it haven't produce `cu_hq.fasta.no5merge.collapsed.rep.fq`in the last step, and it has produced `cu_hq.fasta.no5merge.collapsed.rep.fa`, so I feel very confused about this.

[2018-05-07 08:47] #21 closed, assigned to nobody

[2018-05-07 08:51] rrim opened #30 "Re-clustering of large data set issue"
Hi,

I am trying to perform family finding using Cogent on a set of transcripts generated from IsoSeq, downloaded from SRA. A test on the first 50 sequences, as per Cogent’s Running Family Finding for a small dataset tutorial was completed successfully. However, when I tried using the transcripts, per Cogent’s Running Family Finding for a large dataset tutorial, it hit a snag. Preclustering (with

[2018-05-07 15:19] rrim commented on #30
Right. I think I know why. I haven't run the generated batch command for run_mash.py process of each bin. Sorry for the false alarm.

[2018-05-07 15:19] #30 closed, assigned to nobody

[2018-05-07 18:00] Magdoll commented on #24
Bug is now fixed in Cogent v3.3.

[2018-05-07 18:00] #24 closed, assigned to nobody

[2018-05-07 18:03] Magdoll commented on #29
Hi @ClearloveMiao ,

This is the wrong repo for this question. You should file this at the [Cupcake repo](http://github.com/Magdoll/cDNA_Cupcake).

The error comes from you probably having provided only FASTA, and not FASTQ, for the collapse step. You can convert the fasta into fastq using [fa2fq.py](https://github.com/Magdoll/cDNA_Cupcake/wiki/Sequence-Manipulation-Wiki#convert) in Cupcake. The o

[2018-05-07 18:03] #29 closed, assigned to nobody

[2018-05-10 17:16] JingchaoZhang opened #31 "license file"
Can you please add a license file to this repo so we can use it in conda recipes etc? Thanks!

[2018-05-10 20:54] Magdoll commented on #31
done

[2018-05-10 20:54] #31 closed, assigned to nobody

[2018-05-14 01:30] jayceejiao opened #32 "Could not finish two failed jobs in the reconstruction step"
Hi Magdoll,

I am using Cogen 3.3 to reconstruct the coding region for a species without a reference genome. I have finished the "Family Finding" step and have run the reconstruct_contig.py script for each family. Some of the families were first failed but late completed with the suggested parameters "reconstruct_contig.py --nx_cycle_detection -k 60 .". However, I could not get results from two of

[2018-05-14 02:18] angeladarling commented on #28
Hi:
It reported ValueError when I ran reconstruct_contig.py  --nx_cycle_detection -k 20 10603_1 -p 10603_1  with the following messages:

Traceback (most recent call last):
  File "reconstruct_contig.py", line 4, in <module>
    __import__('pkg_resources').run_script('Cogent==3.1', 'reconstruct_contig.py')
  File "/share/public/software/WDLIB/lib/FALCON_unzip_0619.2017/lib/python2.7/site-packages/

[2018-05-14 10:13] fantastycrane opened #33 "KeyError: 'weight' in reconstructing contig"
Hi @Magdoll ,

Multiple key errors occurred in different gene family while reconstructing contig. Here is an example of details about these errors.

"""
Traceback (most recent call last):
  File "/share/nas1/yangch/bin/anaconda/envs/anaCogent/bin/reconstruct_contig.py", line 4, in <module>
    __import__('pkg_resources').run_script('Cogent==3.3', 'reconstruct_contig.py')
  File "/share/nas1/yangch

[2018-05-14 18:51] Magdoll commented on #33
hi @fantastycrane ,

I've sent a file upload request to your email (fantastycrane@163.com). Looks like it may be that the "weight" attribute was not properly propagated in the alg. I'll take a look.

Thanks,
--Liz

[2018-05-14 18:53] Magdoll commented on #32
Hi @jayceejiao ,

It looks like a coding error on my part that caused it to stay in an infinite loop. However I still need to fix the fundamental issue that is this input data seems very cyclic.

Would it be possible to share the data ("in.fa") with me? Please give me an email address and I'll request a data upload.

--Liz

[2018-05-14 18:55] Magdoll commented on #28
Hi @angeladarling ,

It looks like you are posting about a completely different issue. Please file through a new "issue" instead of using an existing unrelated issue.

Also, some of the bugs you see in 3.1 may be fixed in v3.3. Please update the v3.3 and try again. If the error remains, I can look at the input data for you.

Thanks,

--Liz

[2018-05-14 18:58] jayceejiao commented on #32
Hi Liz,

Yes, I can send you the two failed sequences. My email address is cj334@cornell.edu.

Thanks!

Chen

[2018-05-14 19:00] Magdoll commented on #32
Hi @jayceejiao ,

A request has been emailed.

[2018-05-14 22:44] Magdoll commented on #32
Hi,
A fix has been updated for v3.4 at the repo.
I've also emailed you the Cogent output for the two failed data.

Please confirm this fixes the issues.

--Liz

[2018-05-15 01:17] fantastycrane commented on #33
Files have been uploaded. Please Check. Thanks.

[2018-05-15 03:13] jayceejiao commented on #32
Hi Liz,

I used git clone https://github.com/Magdoll/Cogent.git to reinstall Cogent. After the installation, my Cogent is still v3.3 and could not finish those two jobs. How can I install v3.4?

Best,

Chen

[2018-05-16 04:02] Magdoll commented on #32
Hi @jayceejiao ,
I found that the v3.4, while fixes the problem, produces less optimal results (more # of reconstructed contigs). I'm going to work on fixing that and will let you know how to download the latest version when I have a fix.
--Liz

[2018-05-21 19:15] Magdoll commented on #33
Hi @fantastycrane ,

Cogent v3.5 should have this problem fixed. Please confirm.

--Liz

[2018-05-21 20:11] Magdoll commented on #32
Hi @jayceejiao ,

Version 3.5 should have this fixed. Please try it out and confirm.

--Liz

[2018-05-22 01:06] fantastycrane commented on #33
Thanks. I'll upgrade Cogent and see how it goes.

[2018-05-22 10:09] abeyeu commented on #25
@Magdoll
I am carrying on a population genetics work.
Data: high-quality full-length transcriptome sequences of one sample and NGS transcriptome of many samples (PE150).
I would use spliced aligners (STAR ) map NGS data to cogent2.fa and then follow GATK protocol to call variants in NGS data. Is it makes sense?
Thanks very much
zhu

[2018-05-22 10:10] abeyeu commented on #2
@Magdoll
I am carrying on a population genetics work.
Data: high-quality full-length transcriptome sequences of one sample and NGS transcriptome of many samples (PE150).
I would use spliced aligners (STAR ) map NGS data to cogent2.fa and then follow GATK protocol to call variants in NGS data. Is it makes sense?
Thanks very much！
abeyeu

[2018-05-22 15:06] rrim opened #34 "Cogent reconstruction failed due to sequences containing N"
Hi,
reconstruct_contig.py complained when sequences in in.fa in the pre-cluster bin contain non A/C/T/G characters. Should these ambiguous nucleotides be removed before running reconstruct_contig.py? But what should we do if the N(s) is/are located in the ORF region? Is there anyway to go about this?
Thanks.

[2018-05-22 17:24] Magdoll commented on #34
Hi @rrim ,
Currently Cogent does not accept non A/T/C/G characters. You may either remove them or replace all of them with one of the characters (such as replacing all "N"s with "A"s).

As far as I know, PacBio Iso-Seq data does not contain Ns. This would be a non PacBio data I presume?

--Liz

[2018-05-22 19:00] jayceejiao commented on #32
Hi @Magdoll,

I have reinstalled the Cogent 3.5 through git clone. I have tried using this command "reconstruct_contig.py (Cogent 3.5) --nx_cycle_detection -k 60 . " for those two failed jobs, I still get the similar message (hello.log) :

Should I use Cogent 3.5 from the very beginning?

Thanks!

Chen

[2018-05-22 19:17] Magdoll commented on #32
Hi @jayceejiao ,

Please first confirm you are running Cogent 3.5 and also run reconstruct without specifying the kmer_size.

[code]

[2018-05-22 19:46] jayceejiao commented on #32
Hi @Magdoll ,

Yes, I am using Cogent 3.5. Now I have fixed the problem by running "reconstruct_contig.py .".

Thanks.

Chen

[2018-05-23 04:43] jayceejiao commented on #13
Hi @Magdoll,

I also want to combine the HQ and rnaspades assembly to generate a complete transcriptome. I used the above strategy:
1. run Cogent on HQ (which you've done)
2. align both HQ + Trinity to cogent2.renamed.fasta and collapse.
I have concatenated the sequences from both sources and collapsed them using Cupcake. But I can't get the results. I received the following message:

Do you know

[2018-05-23 04:47] #32 closed, assigned to nobody

[2018-05-23 07:48] rrim commented on #34
Thanks for the information.
Yes, you are right. I combined transcripts from Isoseq and RNAseq (assembled _de novo_) data and trying to remove the redundancy of the merged transcripts. The Ns must be originated from RNAseq data, then.

[2018-05-23 19:42] Magdoll commented on #13
Hi @jayceejiao ,

The collapse scripts expect a certain sequence ID format that the RNA-seq data is not following. It needs to look like this:

[code]

it's looking for the "f10p0" which needs to be after the right "/" symbol.

YOu can use a Python script to force RNA-seq/Trinity data to have that:

[code]

--Liz

[2018-05-23 19:42] #34 closed, assigned to nobody

[2018-05-23 19:42] #28 closed, assigned to nobody

[2018-05-23 19:44] Magdoll commented on #2
Hi @abeyeu ,
Yes you can use `cogent2.fa` as a fake genome to map data and call GATK.

--Liz

[2018-05-23 19:44] #12 closed, assigned to nobody

[2018-05-23 20:24] jayceejiao commented on #13
Hi @Magdoll,

I have changed the transcript id and got the final representative transcriptome. Thanks!

[2018-05-23 20:25] #13 closed, assigned to nobody

[2018-05-24 02:04] fantastycrane commented on #33
Hi @Magdoll ,

The key error issue has been solved. Only reconstruction in specific gene family seems to be running forever.  It keeps outputting following info in hello.log.

"""
2018-05-24 09:37:33,813 - Cogent - INFO - CYCLE detected through path analysis! Raise CycleDetectedException!
2018-05-24 09:37:33,822 - Cogent - INFO - Trying to raise k=120. Rerun attempt.
2018-05-24 09:37:35,260 - Coge

[2018-05-24 12:05] aksenia opened #35 "Fail to build Cogent via pitchfork"
/usr/local/src/cogent/pitchfork> make Cogent
# No do-clean rule here.
make -j1 -C ports/python/virtualenv do-install
make[1]: Entering directory '/usr/local/src/cogent/pitchfork/ports/python/virtualenv'
/usr/local/apps/python-2.7.11/bin/python
make[1]: Nothing to be done for 'do-install'.
make[1]: Leaving directory '/usr/local/src/cogent/pitchfork/ports/python/virtualenv'
make -j1 -C ports/python/

[2018-05-24 13:31] Magdoll commented on #35
Hi @aksenia ,

The pitchfork support for Cogent is probably not up to date. I'll contact the pitchfork developer. In the meantime, you should be able to just install Cogent in the pitchfork environment via simply `setup.py`:

https://github.com/Magdoll/Cogent/wiki/Installing-Cogent#installing--cupcake
[code]

Let me know how it goes.
--Liz

[2018-05-24 14:02] Magdoll commented on #33
Hi @fantastycrane ,
I must have written a loop somewhere. Would you mind sharing the file? Hopefully this time I get rid of the error once and for all.

--Liz

[2018-05-25 03:05] mjhsieh commented on #35
The makefile error is interesting. @aksenia can you let me know what flavor/version of linux were you using? Thanks! (yes we are phasing out pitchfork, but I still want to know how to reproduce it.)

[2018-05-25 09:40] aksenia commented on #35
Dear Liz & Mengjuei,

Thank you for the rapid response! I will try the suggestion above and see what happens.
Our institute’s system is: openSUSE 13.2 (Harlequin) (x86_64).

[2018-05-28 03:26] fantastycrane commented on #33
Hi @Magdoll ,
The requested files have been uploaded. Please check.

[2018-05-28 14:49] Magdoll commented on #33
Hi @fantastycrane ,
FIles have been received. I'll keep you updated.

[2018-05-29 09:07] aksenia commented on #35
Dear  Liz & Mengjuei,

I (or rather our admin with root access) was able to install cogent following your recipe. However during the installation several package version conflicts were reported:
[code]
Later on in the setup.py test it fired back:

[code]

[2018-05-29 13:11] ClearloveMiao opened #36 "The final result of using Cogent to collapse redundant transcripts"
Hi,

After I finish `Tutorial: Using Cogent to collapse redundant transcripts in absence of genome`, I have get a file named `hq_isoforms.fasta.no5merge.collapsed.filtered.rep.fq`, and I used `fq2fa.py` to transform it to 'hq_isoforms.fasta.no5merge.collapsed.filtered.rep.fa'.

However, in the final fasta file, the header of every sequences is like this :
`>PB.17.1|1015_0|path0:1-3687(+)|i3_HQ_cu1

[2018-05-29 18:59] Magdoll commented on #36
Hi @ClearloveMiao ,

New headers are added every time you go through a step. The steps you have done, in chronological order are:

1. Iso-Seq, the output header is `i3_HQ_cu17009|c22037/f2p1/3705 `. `HQ` stands for high-quality. `cu17009` is the sample name. `c22037` is the cluster ID (you can ignore this). `f2p1` means it contained 2 full-length reads and 1 non-full-length read. 3705 is the isofo

[2018-05-30 18:08] mhsieh commented on #35
Should be resolved in -  https://github.com/PacificBiosciences/pitchfork/commit/e59ae2cb00c1b986d4525678731324ac9ecb9eec

[2018-05-31 03:17] ClearloveMiao commented on #36
Thanks very much. I have understood it now.

[2018-05-31 15:47] #36 closed, assigned to nobody

[2018-06-07 09:51] aksenia commented on #35
[code]

[2018-06-07 16:30] mhsieh commented on #35
Which version of gcc are you using? I will need to reproduce it and see what I can do.

[2018-06-12 04:05] jayceejiao opened #37 "Could not finish one failed job in the reconstruction step using Cogent v3.5"
Hi  @Magdoll

I am using Cogen 3.5 to reconstruct a coding genome for another species without a reference genome. I still have one failed job when I run reconstruct_contig.py script for one family.
**CMD:  reconstruct_contig.py --nx_cycle_detection  .
[hello.log](https://github.com/Magdoll/Cogent/files/2092500/hello.log)

[nohup.txt](https://github.com/Magdoll/Cogent/files/2092503/nohup.txt)

**
C

[2018-06-13 06:10] fantastycrane commented on #33
Any progress on this issue?

[2018-06-13 09:22] Magdoll commented on #33
I’m currenrly traveling until 6/18. May have to wait till get back. Sorry

[2018-06-13 10:11] aksenia commented on #35
`gcc version 4.9.4 (GCC)`

[2018-06-13 17:11] mhsieh commented on #35
@aksenia your version of `make` might have been not 100% compatible with this version of pitchfork. my suggestion is to edit pitchfork/ports/pacbio/Cogent/Makefile and change
[code]
to
[code]
Our pitchfork will be deprecated in the near future, so I will not change the code upstream.

[2018-06-20 12:07] uso2015 opened #38 "the reconstruct_contig.py don't use for the data"
Hi，
 I'am testing the Cogent recently, and find that the data can't success to get cogent2.fa, I don't know the reason, look forward to your reply.
[in.zip](https://github.com/Magdoll/Cogent/files/2119146/in.zip)

[2018-06-20 16:25] Magdoll commented on #37
Hi @jayceejiao ,
Please send the input file (`in.fa`) that resulted in this error. Or provide me an email so I can request a secure data upload.

Thanks,
--Liz

[2018-06-22 21:58] mathog opened #39 "Excessive clustering observed for one gene"
The dystrophin like protein (dlp) is being employed as a hard test case while building transcriptomes for several different sea urchin species.  The full length dlp mRNA is  more than 13kbp and the protein more than 4kaa.  22 RNAseq libraries were built using Trinity 2.6.6 and concatenated (with minor header renaming to avoid conflicts) into all_trin.fasta.

This large fasta file is the input for

[2018-06-25 19:37] Magdoll commented on #33
@fantastycrane ,
The file you sent successfully completed through Cogent v3.5. I've dropped off the results back to your email. Please let me know when you've picked it up.
--Liz

[2018-06-25 19:44] Magdoll commented on #39
Hi @mathog ,
So you're saying that the cluster that contains the dlp gene (cluster 54527), in addition to correctly containing half the dlp gene, also contained a whole bunch of other genes?

That's not entirely surprisingly at this "preclustering" stage. You have so far only run `run_preCluster.py` which is actually a pre-processing step of the attempt to find gene families. The preclustering ste

[2018-06-26 00:33] mathog commented on #39
On 25-Jun-2018 12:45, Elizabeth Tseng wrote:

Yes

Ran the equivalent.  Then did

bash cmd

and it blew up after 20 directories.  Just to see how this works the dlp
directory was located (54527) and did:

cd preCluster_out/54527
nice run_mash.py -k 30 --cpus=40 isoseq_flnc.fasta >rmp.log 2>&1 &
#13:03 - 16:54.
process_kmer_to_graph.py isoseq_flnc.fasta
isoseq_flnc.fasta.s1000k30.dist \
  ../../tes

[2018-06-26 20:16] Magdoll commented on #39
Hi @mathog ,

The last parameter in
[code]
is where the new output will be in. In this case, it's `test_human/` and not `preCluster_out`. (from the tutorial you can see I even said you could delete `preCluster_out` after everything in the command file `cmd` is completed).

This means, assuming everything went through, you can run
[code]

If you are only interested in, say, cluster 54527 and don't

[2018-06-27 18:19] mathog commented on #39
I used this script to run the final reconstruct_contig.py stage:

[code]

There were ~45000 subdirectories in test_sp, nearly all of them derived from 54527 (because the initial run blew up and didn't make many, and 54527 was run manually because it contained the test gene).  It took 108 minutes to run.  After that completed this was used to find the subdirectory for the dlp test case in the resul

[2018-06-29 17:12] Magdoll commented on #39
Hi @mathog ,

What do you refer to by "families" here? Do you mean merge transcripts/isoforms of the same gene (same locus, different splice forms) or different genes (different loci)?

The intention of Cogent was not to merge different genes (unless it can't help it because the two genes are way too similar).

I'm trying to understand the relationship between path5 and path11. Do I understand cor

[2018-07-03 02:50] fantastycrane commented on #33
@Magdoll ,
I updated Cogent to v3.6 and tested it on the failed case. It worked fine. Thanks.

[2018-07-03 02:50] #33 closed, assigned to nobody

[2018-07-03 20:12] mathog commented on #39
Families refers to all the sequences which have been clustered together for a given gene's transcripts.  As far as we know there is just one dlp in these genomes and nothing very similar to it, so all the paths should be for that and not some mixture with other genes.   The gene is huge and there are a lot of exons so there are almost certainly transcript variants mixed in with the Trinity assembl

[2018-07-03 20:12] #39 closed, assigned to nobody

[2018-07-05 13:23] HenrivdGeest opened #40 "automatically re-run failed contig reconstruction jobs with updated sh script."
Just wanted to share my updated sh script which automatically tries to re-run the failed contig construct mode. It tries until kmer 99, after that it copies the input fasta file to cogent2.fa as pretended output. The parameter kmerSize is the starting kmer to try the first re-run. If that failes, it increases the kmer size by 3.
I first ran the reconstruct scripts with gnu parallel:(by default I r

[2018-07-20 08:18] Zunaick commented on #20
Hi, I am also facing the similar issue. I installed Complete-Striped-Smith-Waterman-Library from the link in the tutorial (https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library).
But after installion when i executed run_mash.py it gave following error:

Traceback (most recent call last):
  File "/home/user/anaconda2/bin/run_mash.py", line 4, in <module>
    __import__('pkg_resources')

[2018-07-21 14:08] zhyw86 commented on #20
Did you use pip to install the cogent?
That helped me to solve the problem. But I did not use anaconda, you may want to try conda install?

[2018-07-23 02:31] fantastycrane opened #41 "Too many nodes and edges in family finding"
Hi @Magdoll ,
One family finding command from generated batch commands in my project could not get through in a rather long time (roughly two days). It stuck at process_kmer_to_graph phase and took about 100G memory. Output information shows that graph in this cluster contains 49018 nodes and 79611730 edges , while corresponding numbers in other clusters are much smaller. Is this normal?

[2018-07-23 05:14] Zunaick commented on #20
Hi, thanks for response. Setting path for the script installed solved my problem.

[2018-07-24 02:36] hmyh1202 opened #42 "Cogent analysis for isoSeq3`s result"
What sequence should I used as intput for isoSeq3 software? If the final HQ fasta sequence or flnc fasta file?
thanks

[2018-07-24 07:07] Zunaick opened #43 "reconstruct_contig.py output files"
Hi Magdoll

I was running reconstruct_contig.py for each family and have obtained four fasta files as listed for each family.

in.trimmed.fa
cogent.fa
cogent2.renamed.fasta
cogent2.fa

I checked number of sequences in output for few families and found that they are same except for cogent.fa file. So, i was thinking which one is the final reconstructed contig file (as in the cases i checked number

[2018-07-24 21:23] Magdoll commented on #35
pitchfork is deprecated. Users should now use the [Conda/Anaconda environment](https://github.com/Magdoll/Cogent/wiki/Installing-Cogent#conda).

[2018-07-24 21:23] #35 closed, assigned to nobody

[2018-07-24 21:26] #2 closed, assigned to nobody

[2018-07-24 21:26] #15 closed, assigned to nobody

[2018-07-24 21:26] Magdoll commented on #17
Closed unless further information is provided.

[2018-07-24 21:26] #17 closed, assigned to nobody

[2018-07-24 21:26] #25 closed, assigned to nobody

[2018-07-24 21:27] Magdoll commented on #27
Closed unless further information is provided.

[2018-07-24 21:27] #27 closed, assigned to nobody

[2018-07-24 21:27] Magdoll commented on #37
Closed unless further information is provided.

[2018-07-24 21:27] #37 closed, assigned to nobody

[2018-07-24 21:38] Magdoll commented on #38
This input now works in Cogent v3.6. Closed.

[2018-07-24 21:38] #38 closed, assigned to nobody

[2018-07-24 21:40] Magdoll commented on #41
Hi @fantastycrane ,
Did you run `run_preCluster.py`? It is possible this is an unusually abundant gene, or minimap2 is too happy to pick up low similarity hits.

If the issue persists, I will come up with a way to resolve it.

--Liz

[2018-07-24 21:41] Magdoll commented on #42
Hi @hmyh1202 ,

Are you talking about Iso-Seq3 or Cogent? This is the Cogent repository.

For Iso-Seq3, please follow the [Iso-Seq3 tutorial](https://github.com/PacificBiosciences/IsoSeq_SA3nUP/wiki/Tutorial:-Installing-and-Running-Iso-Seq-3-using-Conda).

[2018-07-24 21:41] #42 closed, assigned to nobody

[2018-07-24 21:44] Magdoll commented on #43
Hi @Zunaick ,

`in.fa` is the input, but it is first trimmed of all flanking lower case bases to become `in.trimmed.fa` which is then run through Cogent.

`cogent2.fa` is the output.

If the number of input (`in.trimmed.fa`) and output (`cogent2.fa`) is identical, it means no reconstruction was possible. However, this should not happen for every single one of the gene families. In most cases Cogen

[2018-07-25 09:03] fantastycrane commented on #41
Hi @Magdoll ,

I did run run_preCluster.py, and preCluster.output.csv shows that 49643 sequences (67505 in total) were clustered into the same cluster. This number dropped to 27155 after I upgraded Cupcake. Still, it is too large for process_kmer_to_graph.

The same issue occurred in several different project.  It is noteworthy HQ sequences combined with corrected LQ sequences were used when runni

[2018-07-25 14:46] ClearloveMiao opened #44 "A running error about 'filter_away_subset.py'"
Hi!
I am running `Collapsing redundant isoforms` and running `filter_away_subset.py` to collapsing isoforms using Cogent and Cupcake.

However, it has reported such error below:
`The number of PBID records in the files disagree! Sanity check failed.`
`# of PBIDs in isoforms.fasta.no5merge.collapsed.rep.fq: 42879`
`# of PBIDs in isoforms.fasta.no5merge.collapsed.gff: 42879`
`# of PBIDs in isoforms.

[2018-07-25 14:50] ClearloveMiao commented on #43
Hi!
And the file we have to use next step is `cogent2.renamed.fasta`? The other file can be deleted?
Thanks!

[2018-07-25 14:54] ClearloveMiao commented on #44
I have used `minimap` to create the `sam` file, so is this step account for the error? Should I use `gmap`? But, `gmap` has taken on too much resources in our sever............

[2018-07-25 17:34] Magdoll commented on #43
Hi @ClearloveMiao ,

You can either use `cogent2.fa` or `cogent2.renamed.fasta`. The only difference is the sequence ID.

In `cogent2.fa` the ID only has the path names:
[code]

In `cogent2.renamed.fasta` a prefix is added so it becomes unique:
[code]

If you intend to collect all the output from all gene families, you should use `cogent2.renamed.fasta` so each sequence has an unique ID.

--Liz

[2018-07-25 17:38] Magdoll commented on #44
Hi @ClearloveMiao ,

The error indicates an error at the collapse step using `collapse_isoforms_by_sam.py`. When you ran `collapse_isoforms_by_sam.py` were there any error messages?

Can you share the input fasta (`isoforms.fasta`) and minimap2 SAM file and the `collapse_isoforms_by_sam.py` command you used? If you provide an email I can request a secure file upload.

--Liz

[2018-07-25 17:43] Magdoll commented on #41
Hi @fantastycrane ,

I'd like to take a look at it. I've requested a file upload to your email.

--Liz

[2018-07-26 01:28] fantastycrane commented on #41
Hi @Magdoll ,

Requested fasta file has been uploaded. Sequences with full length coverage and other information are HQ isoforms, while sequences only cluster id provided are corrected LQ isoforms filtered by accuracy above 0.99.

[2018-07-26 05:58] Zunaick commented on #43
Thanks Magdoll

I would like to share few gene families file with you. Please can you provide me with the email-id on which i need to upload the files. Also, i would like to mention that i got warning as mentioned below while executing the script.

**/nfsroot/home/user/.local/lib/python2.7/site-packages/Bio/Seq.py:354: BiopythonDeprecationWarning: This method is obsolete; please use str(my_seq) in

[2018-07-28 15:47] Magdoll commented on #43
Hi @Zunaick ,

1. I need your email to send a private request for file upload :-)

2. The warning message is harmless and can be safely ignored.

-Liz

[2018-07-28 15:47] Magdoll commented on #41
Received and will work on it.

[2018-07-31 14:16] EXGDT opened #45 "Another error in running `process_kmer_to_graph.py`"
All my software, Cogent, minimap2, mash and so on is the latest, and python version is 2.7.13.
I have run the test_cogent.py, and it's ok.
I firstly run the run_mash.py without error and warning. For a fasta file which have about 19,000 sequences,  an dist file about 8.5M generate was generated, which have about 15,000 lines.
Then I run the process_kmer_to_graph.py, after printing
`making weight g

[2018-07-31 14:26] EXGDT commented on #45
[non-redundancy.fasta.s1000k30.dist.txt](https://github.com/Magdoll/Cogent/files/2245684/non-redundancy.fasta.s1000k30.dist.txt)
Here is my .dist file, can someone test it?

[2018-08-03 10:52] Zunaick commented on #43
Hello Magdoll

My email-id : juhi.capricon@gmail.com
Please send me the upload link so that i can upload cogent2.renamed.fasta
file for some of the families with you.

Thanks
Juhi

On Sat, Jul 28, 2018 at 9:17 PM, Elizabeth Tseng <notifications@github.com>
wrote:

[2018-08-19 10:00] ClearloveMiao commented on #44
Hi @Magdoll
Thanks for your reply!
Sorry, I have gone out for field work these days so I haven't reply you in time.
First, when I ran `collapse_isoforms_by_sam.py`, there are not any error messages.
Second, my email is `756243875@qq.com`.
Thanks a lot.

[2018-08-20 01:20] fantastycrane commented on #41
Any progress on this issue?

[2018-08-20 15:14] jayceejiao opened #46 "AssertionError message when running reconstruct_contig.py (cogent 3.5)"
Hi @Magdoll,

I am using Cogent 3.5 to process the high-quality isoforms generated from the isoseq3 pipeline. Now I still have one failed job in the reconstruction step. Below is the error message I got:

Do you know why I got this message and how to deal with this? I can send you the in.fa and in.weights files. Thanks!

Chen

[2018-08-24 19:17] Magdoll commented on #41
Working on it. Responding soon.

[2018-08-28 22:54] Magdoll commented on #44
Hi @ClearloveMiao ,
I have sent you a request for file upload for troubleshooting.

[2018-08-28 22:56] Magdoll commented on #46
Hi,
Indeed, from the error it's not obvious to me what went wrong.

Please give me an email to request a file upload to.

--Liz

[2018-09-05 07:26] steffi778 commented on #46
Hey,
I got exactly the same error for 4 of my reconstructions (Cogent 3.5). In the hello.log file of the respective files you can find the following:

2018-09-05 09:23:26,592 - Cogent - INFO - Setting k-mer size to: 60
2018-09-05 09:23:26,592 - Cogent - INFO - Setting expected error rate to: 1%
2018-09-05 09:23:26,625 - Cogent.splice_cycle - INFO - K-mer in-seq cycle detection: None found at k=60

[2018-09-06 18:29] jayceejiao commented on #46
Hi Liz,

my email address is cj334@cornell.edu. Thanks!

Chen

[2018-09-07 06:28] Magdoll commented on #41
Hi @fantastycrane ,

I'm still exploring options for this problem. But I want to say I don't feel like including LQ in Cogent is necessarily a good idea. I know the LQ has been error corrected and filtered for 99% accuracy, but looking at the sequences themselves I'm still worried it's introducing more noise.

Another reason this problem generally would not occur for regular Iso-Seq HQ output, is

[2018-09-07 06:30] Magdoll commented on #46
@jayceejiao , a request email has been sent to you to upload the file.

@steffi778 , let me see what happens with @jayceejiao's error. Maybe I can figure out why this happens in general.

[2018-09-07 12:35] Magdoll commented on #45
Hi @401522126 ,

Sorry for the late response. The error comes from likely the graph cut not being able to converge. See this [page](https://docs.scipy.org/doc/scipy/reference/tutorial/arpack.html). There are several solutions proposed in that page, but I'm not able to access those parameters from scikit's graph cut code right now.

One intermediate solution is to change the ncut threshold by runni

[2018-09-09 04:10] jayceejiao commented on #41
Hi @Magdoll,

I met the same problem today. I have a family containing 43 K HQ and 141 K LQ sequences (corrected by Illumina reads), representing 65% of the total input sequences. I am not sure why this happened and how can I fix this problem? Can I just select those HQ sequences and use cd-hit to reduce the redundancy and then use the resulted sequences as the representative sequences for this fa

[2018-09-12 15:53] jayceejiao commented on #46
Hi @Magdoll ,

I have another project also reports this error for three families. And I found there is an unmapped sequence in in.trimmed.fa.sam. Then I just deleted this sequence in in.fa and in.weights and then I can finish the pipeline.   Thanks for your help!

Chen

[2018-09-13 15:53] huajiachicat opened #48 "Can not find command run_preCluster.py"
Hello Magdoll:

I am trying to use Cogent to do family finding for large datasets and found there is no run_preCluster.py on directory (anaconda2/bin/ or anaconda2/envs/anaCogent/bin/).

`run_preCluster.py: command not found`

I have installed all the necessary components of Cogent (minimap2 version 2.12, Cogent version 3.3). The test scripts and family finding for small dataset runs smoothly.

Th

[2018-09-13 18:50] Magdoll commented on #48
hi @huajiachicat ,

`run_preCluster.py` is an additional script from [cDNA_Cupcake](https://github.com/Magdoll/Cogent/wiki/Installing-Cogent#cupcake). Please install Cupcake accordingly.

-Liz

[2018-09-13 18:50] #48 closed, assigned to nobody

[2018-09-14 18:21] Magdoll commented on #46
HI @jayceejiao ,

I just ran your `in.fa` (the one with the IDs below) on Cogent v3.6. and it completed without issue, by the way. I didn't modify any of your input.

[code]

[2018-09-14 18:23] Magdoll commented on #46
@steffi778 ,

If you are still experiencing problems after upgrading to Cogent v3.6, please let me know. Otherwise I'm closing this case.

[2018-09-14 18:23] #46 closed, assigned to nobody

[2018-09-14 18:24] Magdoll commented on #44
Closed until further notice from OP.

[2018-09-14 18:24] #44 closed, assigned to nobody

[2018-09-14 18:24] Magdoll commented on #43
Closed until further notice from OP.

[2018-09-14 18:24] #43 closed, assigned to nobody

[2018-09-17 02:11] fantastycrane commented on #41
Hi @Magdoll ,

I have learned previously that LQ sequences corrected by Illumina reads were not totally trustworthy. LQ was only included to gain more isoforms without requiring too many sequencing cells.
Hope that makes sense.

It would be much appreciated if your solution could work.

[2018-09-17 06:32] steffi778 commented on #46
Hey @Magdoll

Thank you very much for your help! But where can I find version 3.6? When I try to install it via git and conda, the newest version I can get is still 3.5

[2018-09-17 20:24] Magdoll commented on #46
@steffi778 ,

The `README.md` showed the wrong version (which I just fixed), but `setup.py` correctly showed 3.6. Please update and try.
--Liz

[2018-09-23 21:15] huajiachicat commented on #41
Hello @Magdoll ,

I have the same issue when running family finding of large dataset. After preCluster, I found one bin has 62124 contigs in the isoseq_flnc.fasta. When I run the family finding command for this bin, their is an error message of out-of-memory issue:

I am wondering what the problem is and appreciated if there are any solutions.

[2018-09-29 02:20] ale07alvarez opened #49 "mash not found error"
I'm running run_mash.py:
(anaCogent) xxx@xxx-xxx-xxx:~/xx/Data$ run_mash.py -k 30 --cpus=12 hq_isoforms.fasta
Error:
/bin/sh: 1: mash: not found
mash executable does not exist. Please install mash first!

[2018-09-30 18:04] Magdoll commented on #49
Hi,
Please install mash per [tutorial requirement](https://github.com/Magdoll/Cogent/wiki/Installing-Cogent#external-software-requirement) and ensure mash is available in your environment (ex: in $PATH variable or under bin).

--Liz

[2018-10-02 18:01] ale07alvarez commented on #49
Error in step 5 of the tutorial
(5) Install additional libraries that we need
conda install -c http://conda.anaconda.org/timcera pulp
#-------ERROR:
 Solving environment: failed
CondaHTTPError: HTTP 404 NOT FOUND for url <http://conda.anaconda.org/timcera/noarch/repodata.json>
Elapsed: 00:00.418705
CF-RAY: 463904c2cb1976ca-LAX

The remote server could not find the noarch directory for the
requeste

[2018-10-02 18:30] ale07alvarez opened #50 "compatible operating systems"
Will Cogent work on macOS and Windows?

[2018-10-05 19:50] Magdoll commented on #50
Hi @ale07alvarez ,

No, only on Linux.

--Liz

[2018-10-05 19:50] #50 closed, assigned to nobody

[2018-10-05 20:27] Magdoll commented on #49
Please use a different package source location

`conda install -c conda-forge pulp`

I'll update the documentation.
--Liz

[2018-10-05 20:29] #45 closed, assigned to nobody

[2018-10-08 16:47] qiuyixmm opened #51 "errors for failed reconstruction jobs"
@Magdoll
    when Coding Genome Reconstruction jobs were runing,some jobs were failed. If the file in.fa in failed_job_job_directory was less than 100kb, i could add --nx_cycle_detection and tried bigger k to solve the problems.
     however, if the file in.fa in failed_job_job_directory was bigger than 100kb, --nx_cycle_detection and bigger k didnt work. In this case, some directories were produc

[2018-10-11 05:07] Magdoll commented on #51
Hi @qiuyixmm ,

This is a case where actually one of the splits (large inputs get split into sub-tasks and merged at the end) end up with a cycle. An empty outfile `CYCLE_DETECTED` is produced whenever cycles are detected and the job is aborted. I may be not dealing with failed jobs properly in split cases.

Would you be willing to share one example of a large (split-up) input that had a cycle in

[2018-10-11 06:48] qiuyixmm commented on #51
Hello @Magdoll
 this is my email address :  xumingmin@mail.kiz.ac.cn
   there are about 1 to 2 failed job directories for one sample. I am going to remove these failed directoires if my described problem was not solved. do you think the final produed fake genome has a significant influcence to collapse isoforms without genome ?
     Thanks!

[2018-10-11 19:32] Magdoll commented on #51
Hi @qiuyixmm ,

A request for file upload has been sent to the email.

I think it would be helpful to fix these failed jobs because these are the jobs that have a large number of input transcripts. Excluding them from your dataset means excluding results of (potentially) dominant transcripts.

Also note: I will be traveling for work the entire next week, I will do my best to solve your problem as

[2018-10-13 02:39] Magdoll commented on #51
Hi @qiuyixmm ,

I looked at the input sequences. It is extremely repetitive, which is why it originally failed. I lifted the limit of kmer size (`-k` parameter) which used to be capped at 200. This input set is so repetitive that I was not able to complete it at `-k 200`, but I tried `-k 300` and it was able to complete, however larger kmer sizes often means less reconstruction (hence, more sequen

[2018-10-13 02:39] #51 closed, assigned to nobody

[2018-10-16 14:16] xuzhougeng opened #52 "run_mash.py might add format detection function"
I use Cogent 3.3 to learn how to use Cogent to reconstruct fake-genome. When I  wrongly use `wget https://github.com/Magdoll/Cogent/blob/master/test_data/test_human.fa` rather than `wget https://raw.githubusercontent.com/Magdoll/Cogent/master/test_data/test_human.fa` to download data, I get the html file instead of fasta.

I use this html file as input for  `run_mash.py`, so I get the follwoing er

[2018-10-18 16:50] Magdoll commented on #52
Hi @xuzhougeng ,
Thank you for the suggestion. I agree and will let you know when I've added sanity checks.
-Liz

[2018-10-21 06:51] qiuyixmm commented on #51
@Magdoll
    Surprisingly, all my failed jobs have been completed thanks to your advic. Thanks!

[2018-10-23 07:55] jcleple33 opened #53 "reconstruct gene longer in 3 prime than associated isoforms"
Hi!
Running Cogent on isoseq3 data, after collapsing and filtering for 5' degraded isoform and reconstruction I have aligned the reconstructed gene and the different hq_isoforms. I do not understand how the Gene (0_0) sequence can have a longer 3prime end than the isoforms?
Thanking you in advance for your help
Sincerely,
JC
[alignement3prime.txt](https://github.com/Magdoll/Cogent/files/2505007/al

[2018-10-29 18:46] Magdoll commented on #53
Hi @jcleple33 ,

It is difficult to tell what could result in the additional end sequence without seeing the whole input sequence set. Would you be wiling to share the input sequence privately? If you provide an email, I will request a secure upload of the input `in.fa` and the output `cogent2.fa`.

Thanks,
--Liz

[2018-10-30 22:35] ale07alvarez opened #54 "interpreting the results"
Is there additional documentation for interpreting the results of this pipeline?

[2018-10-30 23:17] ale07alvarez commented on #54
ref_sequence1   3326_0|path291
For this particular gene family there are multiple paths what is the meaning a path within a gene family?

And from the annotation files what is the difference between a PacBio transcript and an exon?

3326_0|path254  PacBio  transcript      144     6064    .       +       .       gene_id "xx.2068"; transcript_id "xx.2068.1";
3326_0|path254  PacBio  exon    144     6

[2018-11-06 00:29] Magdoll commented on #54
Hi @ale07alvarez ,

Sorry for the late response.

You are showing snippets of a GFF file. Each "transcript" could consist of multiple "exons", so that is what you're seeing here. A GFF record would start with a "transcript" record followed by one or more lines of "exons", and you can tell it's talking about the same transcript if the `transcript_id` is the same.

Does that answer your question?

-

[2018-11-06 00:29] #54 closed, assigned to nobody

[2018-11-06 00:29] Magdoll commented on #53
Closed unless further information given.

[2018-11-06 06:30] jcleple33 commented on #53
Hi! Sorry to be so late in my answer. Yes I send you my email : jean-charles.leple@inra.fr

Thanks in advance
JC

[2018-11-27 10:42] jvhaarst opened #57 "More sequences after "Tutorial: Using Cogent to collapse redundant transcripts in absence of genome" ?"
I think I'm doing something wrong, as I have this :
After Iso-Seq3, I have 188238 high quality transcripts.
I ran Cogent, which gives me 46289 sequences from all the cogent2.renamed.fasta files.
I created a fake genome, adding 25079 sequences from preCluster_out.orphans.fasta, giving a total of **71368** as input for the collapsing steps.

After running through the tutorial, I end up with **102814

[2018-11-27 18:26] Magdoll commented on #57
Hi @jvhaarst ,

I don't see the issue here...? Your input (HQ) was 188,238 sequences. After collapse, it was 102,814 sequences. So there is a reduction.

I think you may have been confused about what the number 71,368 is. That is not collapsed transcript sequences, rather, the Cogent outputs are *reconstructed genome portions*. So, it is the 102,814 you should be looking at as unique transcript se

[2018-11-27 18:26] #57 closed, assigned to nobody

[2018-12-01 18:33] rnett42 commented on #29
I have actually run into the same issue. The directions in this wiki (Tutorial: Using Cogent to collapse redundant transcripts in absence of genome) specify for the use of `hq_isoforms.fasta`

Is the `filter_away_subset.py` step the only one that needs a fastq file of the hq_isoforms?

[2018-12-02 02:20] ClearloveMiao commented on #29
@rnett42 Yes, I think it is the only one that needs a fastq file.

[2018-12-03 17:55] Magdoll commented on #29
Yes it needs the fastq file. My original response has directions for how to create the fastq from a fasta.

--Liz

[2018-12-05 23:50] srbehera opened #58 "Error while installing"
I am getting the following error when I run this step

[code]

I have installed python 3.6, but its showing 2.7 inside the virtual environment

(anCogent) [ Cogent]$ python --version
Python 2.7.15
(anCogent) [ Cogent]$ source deactivate
[ Cogent]$ python --version
Python 3.6.7

[2018-12-06 00:11] Magdoll commented on #58
Hi @srbehera ,

I don't think Cogent currently supports Python3. I developed all the code using Python 2.7. I'm going to guess you have some Python environment mixed up. Conda can control to use very specific Python environments. See [here](https://chris35wills.github.io/conda_python_version/).

[2018-12-08 01:57] monicabritton opened #59 "Segfault when running tutorial data"
I installed Cogent, dependencies, etc.  When I run the unittest and test script, they run to completion ("OK" at the end), but I do get this warning several times:

/home/mbritton/.conda/envs/anaCogent/lib/python2.7/site-packages/Bio/Seq.py:407: BiopythonDeprecationWarning: This method is obsolete; please use str(my_seq) instead of my_seq.tostring().
  BiopythonDeprecationWarning)

When I run the

[2018-12-10 02:18] Magdoll commented on #59
Hi,
I cannot produce the error (which is probably not surprising...). I don't really have a good suggestion besides trying a clean install :(

--Liz

[2018-12-11 23:11] monicabritton commented on #59
I wiped everything (conda, git repos, etc.) and re-installed from scratch.  During the installation there were some warnings about "Using deprecated NumPy API".  However, now the unittest fails, right after another Deprecation Warning (see below).  I'm guessing I have mis-matched versions of something, but am not sure what.  Any suggestions?

python setup.py test
running test
Searching for bx-pyth

[2018-12-12 18:25] Magdoll commented on #59
Hi @monicabritton ,

What version of networkx are you using? The one I have in my conda environment is 2.1.

Can you try to downgrade/upgrade networkx to 2.1 and see if it still fails?

[code]

--Liz

[2018-12-13 00:02] monicabritton commented on #59
Hi Liz:

The default networkx on our system is 2.0.  But, when I first tried to
install Cogent, one of the Traceback error messages included:

pkg_resources.ContextualVersionConflict: (networkx 2.0 (/afs/
genomecenter.ucdavis.edu/software/anaconda2/5.0.1/lssc0-linux/lib/python2.7/site-packages),
Requirement.parse('networkx==1.10'), set(['Cogent']))

That seemed to indicate networkx 1.10 was a requ

[2018-12-14 17:08] Magdoll commented on #59
If you are using Conda environment, everything should be controlled/installed via conda. Using PYTHONPATH to point to other versions may cause issues like the one seen here.

Interestingly it looks like I have two networkx in Conda, probably because networkx 1.10 was installed as requirement when I ran Cogent's `setup.py`.

Using `conda list -n <my_env_name` I saw this:

[code]

I would recommend

[2018-12-25 07:21] abayega commented on #23
Great. Thank youOn Mar 11, 2018 01:25, Magdoll <notifications@github.com> wrote:Hi @abayega ,
The two assumptions that Cogent makes is that (a) the input is full-length transcripts (as opposed to short fragments of transcripts) and (b) the input is high-quality, that is mostly >=99% accuracy.
Even for PacBio Iso-Seq data, I don't recommend ppl use raw data or CCS sequences that are not of high qua

[2019-01-07 14:17] abayega commented on #23
Great, thank youOn Mar 11, 2018 01:25, Magdoll <notifications@github.com> wrote:Hi @abayega ,
The two assumptions that Cogent makes is that (a) the input is full-length transcripts (as opposed to short fragments of transcripts) and (b) the input is high-quality, that is mostly >=99% accuracy.
Even for PacBio Iso-Seq data, I don't recommend ppl use raw data or CCS sequences that are not of high qua

[2019-01-11 01:14] MaPengyu opened #60 "gmap_build failed"
I got an err with the command:`gmap_build -D . -d fake_genome ../cogent.fake_genome.fasta`
`Processed short contigs (<1000000 nt): ."/gmap-2018-07-04/bin/fa_coords"       -o "./fake_genome.coords" -f "./fake_genome.sources" failed with return code 6400 at /gmap-2018-07-04/bin/gmap_build line 295
`

[2019-01-11 02:16] Magdoll commented on #60
Hi @MaPengyu ,

I'm not responsible for GMAP failures. Please contact GMAP author for problems.

Good luck!
--Liz

[2019-01-11 02:16] #60 closed, assigned to nobody

[2019-01-16 18:14] goodgodric28 opened #61 "Python encoding issue"
Installed dependencies and Cogent, sourced anaCogent properly and pointed to the correct library and python paths. However, when I test the setup with `python setup.py test`, I get an encoding error:

Any suggestions?

Thanks

[2019-01-16 18:42] Magdoll commented on #61
Hi @goodgodric28 ,

Sorry but this seems to be a scipy problem and I'm not sure if it's because you have some issue with the scipy version you are using.

I just checked my Anaconda scipy version and it is `1.1.0`...maybe try downgrading to that?

[code]

[2019-01-16 18:42] #61 closed, assigned to nobody

[2019-01-18 19:22] goodgodric28 opened #62 "process_kmer_to_graph.py generating partitions of size 1"
I ran `run_mash.py -k 30 --cpus 10 demux_tsujii_2cells.polished.hq.fasta` and `process_kmer_to_graph.py --sim_threshold 0.10 demux_tsujii_2cells.polished.hq.fasta demux_tsujii_2cells.polished.hq.fasta.s1000k30.dist tsujii_2cells_0.9 tsujii_0.9`, and when I look at the partition file, I get multiple partitions of size 1

Is there a particular reason these are not included in the unassigned bin duri

[2019-01-24 19:06] Magdoll commented on #62
HI @goodgodric28 ,

Because of the way the graph is partitioned, sometimes there will be singletons. This means that these sequences *do* have some, but probably very few/weak sequence similarity to other sequences and the graph cutting (gene-family finding) algorithm decides to cut it out as a singleton cluster.

And yes these would fail the reconstruction phase. I should really put them as "unas

[2019-01-24 19:06] #62 closed, assigned to nobody

[2019-02-07 10:23] AxelMacFoly commented on #41
Hello @Magdoll,
the same appears on my dataset. But I have HQ isoforms ONLY coming from the isoseq3 pipeline (included in smrtlink v6). The whole data set harbors 670,000 HQ isoforms (because we have generated 54 RSII and 15 Sequel SMRT cells for that project). It ended up with 210,000 isoforms within the largest bin. I aborted the process_kmer_to_graph process for that bin, as it ran more than tw

[2019-02-11 14:16] AxelMacFoly opened #63 "reconstruct_contig.py: Incompatible with python version 2.7.15"
Hi Magdoll,
with python version 2.7.15 the reconstruct_contig.py script throws an AttributeError:

`Traceback (most recent call last):
  File "/home/mpimp-golm.mpg.de/afischer/.conda/envs/anaCogent2/bin/reconstruct_contig.py", line 4, in <module>
    __import__('pkg_resources').run_script('Cogent==3.9', 'reconstruct_contig.py')
  File "/home/mpimp-golm.mpg.de/afischer/.local/lib/python2.7/site-pac

[2019-02-12 18:33] #63 closed, assigned to nobody

[2019-02-15 19:54] perez-kevin commented on #58
Same error here.
Solved here https://github.com/cocodataset/cocoapi/issues/237.
`pip install matplotlib`

[2019-02-22 18:31] goodgodric28 opened #65 "Error running collapse_isoforms_by_sam.py"
I get this error when I try to run collapse_isoforms_by_sam.py on my data:

merged 1 down to 1 transcripts
merged 1 down to 1 transcripts
merged 1 down to 1 transcripts
alt. junction found at 13
alt. junction found at 1158
alt. junction found at 1677
merged 2 down to 2 transcripts
merged 1 down to 1 transcripts
merged 1 down to 1 transcripts
Traceback (most recent call last):
  File "/home/goodhea

[2019-03-25 06:23] lijl459 opened #66 "Trouble in run_preCluster.py"
Hellow @Magdoll ,
    When I Run Family Finding for a big dataset in Cogent, I got a trouble. After finished the first step, I got a  preCluster.cluster_info.csv file and a preCluster_out. Everything seems to be right. But when I cheeked the files, I found two results were too big. In one bin, the isoseq_flnc.fasta contain 89659 sequences, which the other bin is  50232. There were 4281 bins, each

[2019-03-25 06:53] lijl459 commented on #66
If I add the parameter --num_seqs_per_batch 180000 is right?

[2019-03-25 16:45] lijl459 commented on #66
Hello @Magdoll

[2019-03-25 16:55] lijl459 commented on #66
Hello @Magdoll
When I added the  parameter --num_seqs_per_batch 180000, only one bin contained the large sequences, which is 43800. Here I'd like to ask for you advice that if I can run this large file alone ?  Do you think it is appropriate to combine the final.partition.txt yield by the 43800 sequences and that yield by the 196474 sequences except the  43800 sequences ?

[2019-03-25 20:46] Magdoll commented on #66
Hi @lijl459 ,

It's hard to say. Are you willing to share the data with me? I'll need an email address. Want to check how that big bin complexity is.

--Liz

[2019-03-26 04:11] lijl459 commented on #66
Hello @Magdoll ,
  I already shared my data to you by my gamil. Thanks! Looking forward to your reply.

[2019-04-09 19:57] Magdoll commented on #66
Hi @lijl459 ,
Apologies for the late reply.

I tried two runs and the second one produces a smaller bin by ignoring partial hits which may suit you better:

Approach 1:
[code]

Approach 2:
[code]

[2019-04-09 19:57] #66 closed, assigned to nobody

[2019-04-10 03:21] lijl459 commented on #66
Hello @Magdoll ,
    Thank you very much! It works!

[2019-04-25 08:46] ckuanglim85 commented on #63
How to run reconstruct_contig.py with python 2.7.15 ?

[2019-04-25 22:05] Magdoll commented on #63
Hi @ckuanglim85 ,

I don't think the issue is with Python versions. It is likely the BioPython module version difference as you can see the warning comes from BioPython:

[code]

Cogent is currently tested on v1.7.1

[code]

[2019-05-02 18:33] qiuxx221 opened #67 "generate_batch_cmd_for_Cogent_family issue"
Hi, I was running around 50,000 flnc.fasta file to construct gene family. After run_preCluster.py, my fasta was split into bins successfully. Then I was running generate_batch_cmd_for_Cogent_family_finding.py, it was done within a min without error code. But I checked the bins, all failed.

When I just run it as a small dataset, everything seems to be fine. I have both minimap2 and cupcake. The on

[2019-05-02 21:36] Magdoll commented on #67
Hi @qiuxx221 ,

It is difficult to figure out what is going on without more information. Please give me the full list of commands you used and at each step the output result (you can just do a `ls -lh` on the directory to show me the file and file sizes as a start)

Thanks,
--Liz

[2019-05-02 22:01] qiuxx221 commented on #67
Hi Liz,

Thanks for getting back to me. Here is what I did and files that I have in
the folder.
1. clean_hf_iso.fasta is the flnc.fasta file from isoseq3 pipleline after
remove contamination.

-rw-r--r-- 1 qiuxx221 watkinse 134810240 May  2 09:26 clean_hf_iso.fasta

drwxr-sr-x 2 qiuxx221 watkinse      4096 May  2 14:39 error

-rw-r--r-- 1 qiuxx221 watkinse      1228 May  1 15:51 FastA.N50.pl

drwx

[2019-05-02 22:57] Magdoll commented on #67
Hi @qiuxx221 ,

You need to run the command file `cmd`. Looks like you have not run it yet. Hence no results.

--Liz

[2019-05-07 00:21] qiuxx221 commented on #67
Hi Liz,

I missed that part, now I have the final.partition. txt as below

(anaCogent) -bash-4.2$ more final.partition.txt

Partition Size Members

10000_0 3 transcript/56269,transcript/55099,transcript/54395

1000_0 2 transcript/6361,transcript/6228

10001_0 4
transcript/54400,transcript/55082,transcript/55595,transcript/55054

10002_0 2 transcript/55289,transcript/53983

10003_0 4
transcript/544

[2019-05-09 21:20] qiuxx221 commented on #67
Hi Liz,

I got this part fixed but for some reason, the test run of Cogent is failed when I ran the command:
python test/test_cogent.py

Traceback (most recent call last):
  File "test/test_cogent.py", line 31, in test_cogent
    ncut_threshold=0.2)
  File "/home/watkinse/qiuxx221/anaconda/envs/anaCogent/lib/python2.7/site-packages/Cogent-3.3-py2.7.egg/Cogent/process_kmer_to_graph.py", line 77, in

[2019-05-14 20:49] #67 closed, assigned to nobody

[2019-06-10 18:09] goodgodric28 commented on #65
Turns out this was an issue with needing forward slashes instead of underscores in my headers.

[2019-06-10 18:09] #65 closed, assigned to nobody

[2019-08-15 14:08] stanikae opened #68 "Error when running get_abundance_post_collapse.py"
Hi,

I keep getting the following error:
`get_abundance_post_collapse.py", line 148, in output_read_count_IsoSeq_csv
    raise Exception, "cluster_id {0} is not a valid cluster ID!".format(cid)
Exception: cluster_id transcript/18747 is not a valid cluster ID!`
after running get_abundance_post_collapse.py after generating hq_isoforms using iso-seq3

My cluster_report.csv looks like this:
`cluster_i

[2019-08-15 14:38] stanikae commented on #68
It turned out I still had the old Cupcake scripts in my bin. Everything is working smoothly now after updating my bin with the new Cupcake ToFU scripts

[2019-08-15 14:38] #68 closed, assigned to nobody

[2019-08-19 02:38] ClearloveMiao opened #69 "Install problem"
`git checkout tags/v3.3`
I want to install new version 3.9, but when I run this command, Cogent turned to v.3.3. What can I do?

[2019-08-19 17:59] Magdoll commented on #69
Hi @ClearloveMiao ,

I do not tag all Cogent versions. It may be easier to do `git update` or do a new pull in a new location.

--Liz

[2019-08-19 17:59] #69 closed, assigned to nobody

[2019-09-03 02:28] yiwenwang25 opened #71 "Error when running filter_away_subset.py"
Hi @Magdoll ,

I followed "Tutorial: Using Cogent to collapse redundant transcripts in absence of genome" to do collapse redundant isoforms. However, I got an error showed I should use a .fq file as the input when I run filter_away_subset.py (the last step of the tutorial). I've checked that there were no any .fq output files from the previous few steps, but only fasta files. I was wondering which

[2019-09-04 19:35] Magdoll commented on #71
Hi @yiwenwang25 ,

You can make a fastq file from a fasta file using `fa2fq.py` (you may have to rename the file extension from `xxx.fastq` to `xxx.fq` though).

-Liz

[2019-09-09 17:43] yiwenwang25 commented on #71
Hi @Magdoll
It works! Thank you so much!

[2019-09-09 17:43] #71 closed, assigned to nobody

[2019-09-09 22:15] WallyL opened #72 "Family Finding for a large dataset: run_mash.py, process_kmer_to_graph.py"
Hi Liz,

I'm following your tutorial for collapsing a large dataset w/o a reference genome.
This is a Sequel2 dataset, starting with polished HQ fasta (ca. 70K transcripts).
I have run the following code thus far:

[code]
Here's a head of **cmd_mod.sh**
[code]
There are ca. 9000 bins and the bash script has been running for 4 hours; however, I'm not sure if it's doing what it's supposed to do, sin

[2019-09-10 12:01] WallyL commented on #72
Update: I ran the bash script to check for job completion and everything failed...

[2019-09-11 15:14] Magdoll commented on #72
Hi @WallyL ,
So if I understand correctly, the *preClustering* step succeeded. This is marked by the successful generation & population of the *preCluster_out/<dir>/* directories.

It is the commands such as below that are failing:

[code]

Without errors I'm not sure what's going on. Since you say *all of them* failed, it may be something related to the package itself...

Any chance you can share

[2019-09-11 15:48] WallyL commented on #72
Sorry, I'm ran the cmd bash script interactively in screen, so no error/out files were generated.
The dir. structure of the previous step is as follows:
[code]
Only one subdir. was created in the davis_paddlefish dir., 0_0, I assume maybe there should've been more?
There are > 9,000 bin dirs. in preCluster_out, of which dir. 0/ is the only one that has a partition file:
[code]
 So you want me to s

[2019-09-11 20:26] WallyL commented on #72
Liz

As you suggested I randomly sub sampled 5k records from the polished.hq.fasta.
Then I ran this script:
[code]
The only difference here from the full run is that I was running one step at a time as I test and then I'd comment out the step and run the next one, but that should matter.
In this test, 752 bins were created in **preCluster_out** and it looks like the fastas all process to completio

[2019-09-16 12:45] splaisan opened #73 "any eta for a python3 version?"
That would really reduce the pain of having to open conda env in conda env in order to bring python 2 to life.
I could not get cogent installed on my ubuntu machine yet.

[2019-09-16 12:56] Magdoll commented on #73
Hi @splaisan ,

I have plans to move to Py3 in early 2020. This includes other Iso-Seq related repos like [cDNA_Cupcake](https://github.com/Magdoll/cDNA_Cupcake) and [SQANTI2](https://github.com/Magdoll/SQANTI2/) as well.
-Liz

[2019-09-16 12:58] splaisan commented on #73
Thanks LIz,
I will enter in hybernation until then ;-)
All best
Stephane

On 16 Sep 2019, at 14:56, Elizabeth Tseng <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @splaisan<https://github.com/splaisan> ,

I have plans to move to Py3 in early 2020. This includes other Iso-Seq related repos like cDNA_Cupcake<https://github.com/Magdoll/cDNA_Cupcake> and SQANTI2<https://github.

[2019-09-18 19:27] qiuxx221 opened #74 "failed reconstruction"
Hi, I finished the run, most reconstruction was successful. However, there is 153 failed transcripts reconstruction, are there any ways to rerun those failed ones as a batch file?

[2019-09-18 19:55] Magdoll commented on #74
Hi @qiuxx221 ,
The failed runs usually indicate you need to go in manually and play around with the kmer size...so right now I haven't really supported failed runs with batch file. You can probably process the failed run directories and generate new commands with varying kmer sizes.

-Liz

[2019-09-18 19:55] #74 closed, assigned to nobody

[2019-09-23 17:22] WallyL commented on #72
Hey Liz,
Circling back on this.  I discovered that this may be an issue on the node I was running the preCluster script on interactively.  When I qsub the same script, it runs to completion...

[2019-09-23 17:22] #72 closed, assigned to nobody

[2019-09-24 11:48] jvhaarst opened #76 "Error because of bx-python==0.7.3"
Hi,

Yesterday it worked with bxpython 0.7.3, but after your update it doesn't.
During compilation of bx-python gcc errors out.

Changing to the latest bxpython fixes this, but you probably put bxpython on 0.7.3 for a reason.
What will break if I use the latest version ?

[2019-09-25 16:45] Magdoll commented on #76
What version are you using? I realize there's some confusion. There seems to be multiple packages called bx-python and [this is the one](https://anaconda.org/bcbio/bx-python) I'm referring to, which is on version 0.7.3.

--Liz

[2019-09-25 16:58] jvhaarst commented on #76
I am using the latest version from the master branch.
All I did to get it working is remove the version pinning in the setup.py.
If you want I can check tomorrow what it actually does.

[2019-09-26 07:27] jvhaarst commented on #76
I see you have already changed the bx-python lines both here and in Cupcake, so that solves the problems I had.

[2019-09-26 07:27] #76 closed, assigned to nobody

[2019-11-19 07:10] Yali1989 opened #77 "BiopythonDeprecationWarning: This method is obsolete; please use str(my_seq) instead of my_seq.tostring()."
When I run reconstruct_contig.py, I get this issue and error.

2.17-r943-dirty
/home/wangyali/anaconda2/lib/python2.7/site-packages/Bio/Seq.py:341: BiopythonDeprecationWarning: This method is obsolete; please use str(my_seq) instead of my_seq.tostring().
  BiopythonDeprecationWarning)
Traceback (most recent call last):
  File "/home/wangyali/yaliwang/Software/Cogent/build/scripts-2.7/reconstruct_c

[2019-12-30 23:29] Magdoll commented on #73
Hi @splaisan ,
Cogent now is moved to Python 3.7.
Another major change is now using [parasail](https://github.com/jeffdaily/parasail) which requires one more conda install.
Let me know how it goes.

-Liz

[2019-12-30 23:29] #73 closed, assigned to nobody

[2019-12-30 23:30] #59 closed, assigned to nobody

[2019-12-30 23:30] Magdoll commented on #77
This issue should not exist if using networkx v2.3 and higher and with the latest Cogent v6.0.0 (for Python 3.7). Re-open if needed.

[2019-12-30 23:30] #77 closed, assigned to nobody

[2019-12-30 23:30] #58 closed, assigned to nobody

[2019-12-30 23:31] #41 closed, assigned to nobody

[2019-12-30 23:31] Magdoll commented on #52
Decided not to support file sanity checking at this level. Close issue.

[2019-12-30 23:31] #52 closed, assigned to nobody

[2019-12-30 23:32] #49 closed, assigned to nobody

[2019-12-31 17:15] splaisan commented on #73
Thanks a lot. Looking firward to test itBestStephanesent from my mobileLe 31 déc. 2019 00:29, Elizabeth Tseng <notifications@github.com> a écrit :Hi @splaisan ,
Cogent now is moved to Python 3.7.
Another major change is now using parasail which requires one more conda install.
Let me know how it goes.
-Liz

—You are receiving this because you were mentioned.Reply to this email directly, view it on

[2020-03-24 18:31] Aprilcxy opened #78 "process_kmer_to_graph.py conflicts with networkx 2.4"
Hi, I just would like to share with all who have had the same problem when testing Cogent 6.0.0. After I have installed Cogent 6 and test if it's functional by running:
`cd <cogent_directory>
python -m unittest Cogent/test/test_cogent.py`
I received an Error message:
 ......process_kmer_to_graph.py", line 67, in family_finding
 G.node[n]['labels'] = [n]
AttributeError: 'Graph' object has no attrib

[2020-03-25 01:18] Magdoll commented on #78
Thank you for the heads up. Yes, there's been changes in networkx from version to version. I'll update the documentation to reflect this...
-Liz

[2020-03-26 14:38] bruvellu opened #79 "Should preCluster_out.tucked.fasta be included in the fake genome?"
Hi :)

I'm running Cogent for a large dataset and `run_preCluster.py` outputs a `preCluster_out.tucked.fasta` file. What are these transcripts? I had a look in the Cupcake code but couldn't figure it out.

And should these tucked transcripts be included in the `fake_genome` together with the cogent contigs (=`cogent2.renamed.fasta`) and the unassigned transcripts (=`preCluster_out.orphans.fasta`)?

[2020-03-26 16:41] bruvellu opened #80 "Getting unassigned sequence IDs"
Hello,

The code for getting the unassigned IDs in the [tutorial](https://github.com/Magdoll/Cogent/wiki/Tutorial:-Using-Cogent-to-collapse-redundant-transcripts-in-absence-of-genome#getting-the-unassigned-sequences) does not seem right:

[code]

I used the command below. Probably not the cleanest, but works:

[code]

These unassigned transcripts were not included in the `preCluster_out.orphans.fa

[2020-03-28 16:53] maorkn opened #81 "Will I able to run Cogent on RNAspades output?"
I've run Cogent on my iso-seq run and got really got results. short illumina reads map to it at ~65% alignment and I get a busco completeness score of 65% with very little duplicates. I've, using hisat2, take the unaligned reads from several libraries and constructed a transcriptome using RNAspades. the output gets me to a busco completeness score of 97% but there are many duplicates (45%). I want

[2020-04-11 03:05] Magdoll commented on #81
hi @maorkn ,

I think that idea should work! taking unaligned short reads to assemble is a great idea too. Please try Cogent and let me know how it goes.
-Liz

[2020-04-11 07:50] maorkn commented on #81
Hi! I've actually done it already and it seemed to work great! Any thoughts
on how to evaluate the assembly? Busco on transcriptome mode gives poor
scores although the reads algin well.

On Sat, 11 Apr 2020, 06:05 Elizabeth Tseng, <notifications@github.com>
wrote:

[2020-04-13 22:58] alissawilliams commented on #80
Thanks for pointing this out. I came across this post while trying to figure out issues with my unassigned sequences, and you're right—the command in the tutorial only gave me one sequence because tail -n 1 just takes the last line. I used your command and got 2,107 sequences.

However, I'm still confused about where all of my sequences are going. In my final_partition.txt file, there are 20,000 f

[2020-04-13 23:43] alissawilliams commented on #17
I am having a similar issue. The original transcriptome I put in has 65,642 sequences, but preCluster.output.csv has 65,614 entries.

Thanks!

[2020-04-15 02:05] Magdoll commented on #17
Hi @alissawilliams ,

I can probably look at this eventually but unfortunately not soon due to the area I'm living in is shutdown w covid19 and i'm prioritizing work in other areas.

Can you elaborate how this would impact downstream analysis?

-Liz

[2020-04-15 16:50] alissawilliams commented on #17
Hi Liz-

No problem. Thanks for the reply! I mainly just have a few questions about what's happening to the sequences:

I started with 65,642 sequences.
In final_partition.txt, there are 45,544.
In unassigned.fasta, there are 2,107.
In preCluster_out.tucked.fasta, there are 14,244.
In preCluster_out.orphans.fasta, there are 3,719.
In preCluster_out.chimeras.fasta, there are 0.

So in total, betwee

[2020-05-07 06:45] shenli-js opened #82 "bx-python error when install Cogent"
Hi ,Magdoll !
When I install cogent ，conda env allways changed python3.7 to python2.7. It happened when running `conda install -n anaCogent -c bcbio bx-python`. I searched bx-python by conda search，it shows：
[code]
In channel bcbio, bx-python was built by python2.7 , so I can't install it with python3.7.
Is there anything wrong with me?

[2020-06-26 12:58] LionOfComarre commented on #82
Encountered a similar issue when trying to install. Got a solving environment error from conda since the bcbio version of bx-python is built on 2.7 and the environment is specified to be 3.7. The bioconda version of bx-python requires python 3.8 or 3.9. You'd either have to find a channel supplying the right version of bx-python, or change the version of the environment, but that might break other

[2020-08-11 07:56] monicabritton commented on #17
I am also curious what the meaning of "tucked" is.  Similar to other users, 35% of my input sequences are assigned as "tucked", but I cannot find "tuck" or "tucked" in the github wiki or in the draft MS.  Can you explain what this means? ... thanks ...

[2020-08-24 07:09] jcleple33 opened #83 "execution error with reconstruct_contig.py FileNotFoundError: [Errno 2] No such file or directory"
Running cogent 6.0.0 / reconstruct_contig.py I got such error on several cluster for which reconstruction failed using kmer 30, 60 and 80:

un example below:
jleple@genologin1 /work/jleple/PACBIOII/E656_SMRTCell_A/COGENT_A $ cat slurm-19002922_10.out
2.17-r941
Traceback (most recent call last):
  File "/usr/local/bioinfo/src/Miniconda/Miniconda3-4.4.10/envs/cogent-6.0.0_env/bin/reconstruct_contig.

[2020-08-29 01:51] Magdoll commented on #83
Hi @jcleple33 , I'm looking into this now. Pretty sure it's a minor bug in the code...

[2020-08-29 02:04] Magdoll commented on #83
Hi @jcleple33 , I believe I've fixed the issue in v6.1.0.
the run result is [here](https://www.dropbox.com/s/jl1tmdla5kd4f0w/1982_0.tar.gz?dl=0)

Let me know if this works for you!
-Liz

[2020-08-29 02:04] #82 closed, assigned to nobody

[2020-08-31 12:12] jcleple33 commented on #83
Dear Liz,

Yes the issue is fixed. However I obtain other errors for the last 9 clusters. I have tried with k 60, 80  and 120 and I got these messages for each of the clusters 1 to 9 (see error messages slurm-19087499_1.out to slurm-19087499_9.out). should I try to increase k over 120?

1	ccs_A/1172_11533
2	ccs_A/1172_11657
3	ccs_A/1172_9583
4	ccs_A/16661_7
5	ccs_A/282_0
6	ccs_A/30518_0
7	ccs_A/31

[2020-08-31 18:55] mollydawson commented on #78
Hi there,

I am working on process_kmer_to_graph.py of Cogent v6.0.0 and I'm running into deprecated functions as well with networkx v2.4. I tried uninstalling networkx v2.4 to subsequently install and try v2.3, however I think conda (v4.8.4) is failing when trying to uninstall/install packages in my anaCogent environment. Below are some of the errors I receive w/ process_kmer_to_graph.py. If it's

[2020-08-31 18:56] mollydawson commented on #78
Hi there,

I am working on process_kmer_to_graph.py of Cogent v6.0.0 and I'm running into deprecated functions as well with networkx v2.4. I tried uninstalling networkx v2.4 to subsequently install and try v2.3, however I think conda (v4.8.4) is failing when trying to uninstall/install packages in my anaCogent environment. Below are some of the errors I receive w/ process_kmer_to_graph.py. If it's

[2020-09-02 11:51] jcleple33 opened #84 ""ARPACK error" during family finding on a large precluster bin"
Hi!

I obtain an error message when trying to run:

module load system/Miniconda3-4.4.10;module load bioinfo/Cogent-6.1.0;cd /work/jleple/PACBIOII/E656_SMRTCell_A_X_P_M_merged/COGENT_APMX/preCluster_out/69101;run_mash.py -k 30 --cpus=12 /work/jleple/PACBIOII/E656_SMRTCell_A_X_P_M_merged/COGENT_APMX/preCluster_out/69101/isoseq_flnc.fasta && process_kmer_to_graph.py /work/jleple/PACBIOII/E656_SMRTCe

[2020-09-02 12:36] jcleple33 commented on #84
I tried to run separately process_kmer_to_graph.py using 50 processors and 10 Go of memory and the process succeeded

so, this issue could be closed I think

[2020-09-03 02:35] mollydawson commented on #78
Please ignore above comment. I found a workaround to changing version numbers by creating a .yml file & v2.3 worked just fine. Thanks!

[2020-09-03 03:43] #78 closed, assigned to nobody

[2020-09-03 03:43] #84 closed, assigned to nobody

[2020-09-10 14:14] jcleple33 opened #85 ""segmentation error" running reconstruct_contig.py - version 6.1.0"
Hi Liz,

For about 60 clusters I have an error running reconstruct_contig.py:

example error report:

$ cat slurm-19441671.out
2.17-r941
/var/spool/slurm/d/job19441671/slurm_script : ligne 10 : 19632 Erreur de segmentation  reconstruct_contig.py --nx_cycle_detection -k 300 ccs_APMX/1567_11137

I have tried k from 40 to 300, I have increase memory up to 20G, CPU up to 15 but I still have this segme

[2020-09-10 15:08] jcleple33 commented on #85
I have tried with version 6.0.0 and the reconstruction completed with reconstruct_contig.py --nx_cycle_detection -k 60 ccs_APMX/1567_11137 ( mem 10G and 10 cpu). So, may be a bug has been introduced in 6.1.0 compared to 6.0.0?

[2020-09-12 03:16] Magdoll commented on #83
Hi @jcleple33 ,
interesting I am able to run 32167_0 with just `reconstruct_contigs.py 32167_0/`...no issue found...!

The result is here: https://www.dropbox.com/s/divzx2l62gtzxva/32167_0.tar.gz?dl=0

[2020-09-12 03:20] Magdoll commented on #85
Hi @jcleple33 ,
similar to issue 83, I am also able to complete Cogent on this with `reconstruct_contigs.py .`
see: https://www.dropbox.com/s/kazc3yqxhohc1xf/ccs_APMX.tar.gz?dl=0

[2020-09-16 02:50] B10inform commented on #18
Hi Magdoll,

I am getting following error with "process_kmer_to_graph.py ". networkx is version 2.5.

Traceback (most recent call last):
  File "/home/.conda/envs/anaCogent/bin/process_kmer_to_graph.py", line 4, in <module>
    __import__('pkg_resources').run_script('Cogent==6.1.0', 'process_kmer_to_graph.py')
  File "/home/.conda/envs/anaCogent/lib/python3.7/site-packages/pkg_resources/__init__.p

[2020-09-16 05:36] jcleple33 commented on #85
Hi Liz,

Indeed, increasing k enable to reconstruct most of the clusters. However for a few of them I am not sure to succeed. Below I indicate k values that are currently tested, without success, and I really don’t know if it is realistic to set so high values for k... should I stop and forgot these clusters? please, have you any idea to help me?
many thanks in advance
Jean-Charles

for ccs_APMX/5

[2020-09-16 17:45] Magdoll commented on #85
Hi @jcleple33 ,

Can you take a look at the input sequence for these particular failed Cogent families? My guess is these are highly repetitive sequences, in which case it is very challenging for Cogent to work.

If you want me to take a look at a few examples, let me know.

-Liz

[2020-09-17 05:38] Magdoll commented on #18
Hi @B10inform ,
Cogent is currently working with networkx version 2.3. I think you may have to try a downgrade for now..
-Liz

[2020-09-17 20:05] B10inform commented on #18
I downgraded networkx to v2.3. It is working.
Thanks

[2020-09-18 13:03] jcleple33 commented on #85
Hi Liz
I checked the transcripts and your are right, homopolymer seems important. in cluster 55816_70 I found 50% of sequences carrying  LTR  so may be TEs...
But what can be done at this step?  I send you  the clusters (in different post, because exceed 10Mo)
[55816_70.zip](https://github.com/Magdoll/Cogent/files/5245651/55816_70.zip)
[33030_715.zip](https://github.com/Magdoll/Cogent/files/524565

[2020-09-18 13:04] jcleple33 commented on #85
other cluster
[89607_63.zip](https://github.com/Magdoll/Cogent/files/5245661/89607_63.zip)

[2020-09-18 13:04] jcleple33 commented on #85
other cluster
[10040_489.zip](https://github.com/Magdoll/Cogent/files/5245666/10040_489.zip)

[2020-09-18 13:05] jcleple33 commented on #85
and the last one
[1567_24.zip](https://github.com/Magdoll/Cogent/files/5245670/1567_24.zip)

[2020-09-25 16:15] mollydawson opened #86 "Failed reconstructions with highly repetitive gene family"
Hi Liz,

I'm working through reconstruct_contigs.py as part of Cogent v6.1.0 to eventually collapse my isoseq transcripts. I started with just under 15k transcripts as input which generated 1,811 partitions and I was able to successfully generate their reconstructed contigs with the default k-mer size of 30, however, I'm stuck on the reconstruction for my largest gene family containing 3,450 trans

[2020-09-25 20:41] Magdoll commented on #86
Hi @mollydawson ,
A 3450 transcript family that is highly repetitive...is a big challenge!
Would you mind sending me just this family?  I can give it a shot. If so, please give me an email so I can request file upload 👍

-Liz

[2020-09-28 14:18] mollydawson commented on #86
Hi Liz,

Thank you so much! molly_dawson@student.uml.edu

[2020-09-28 17:49] Magdoll commented on #86
Hi @mollydawson  - dropoff request sent.

[2020-10-02 18:53] Magdoll commented on #86
Hi @mollydawson  - thank you I got the file. Will work on it. Don't hesitate to use this issue to ping me if you don't hear back in case this slips off my mind.

[2020-10-05 17:41] Luisitox opened #87 "mash not found while running tests"
Hi, I'm trying to install cogent in my cluster and I keep having an issue with mash in the testing step.

I created an alias for mash as it is suggested and if I run it in the environment it is found:

[code]

But when I do the tests (both of them) it says that mash is not installed:

[code]

Can you help me?

Thanks,

Luis

[2020-10-06 20:11] Magdoll commented on #87
Hi @Luisitox ,
Can you try adding mash to your `$PATH` variable?

`export PATH=$PATH:<path_to_mash>`

[2020-10-06 20:15] Magdoll commented on #86
Hi @mollydawson ,
I ran reconstruction with parameters `reconstruct_contig.py . --max_split_in_size 40 -k 300` and was able to compress the results from ~3400 transcripts down to ~1600, which...isn't super, and you can keep trying a few k-mer sizes, but at some point I'd probably leave it at that, since this family is so highly repetitive.

-Liz

[2020-10-06 20:15] #86 closed, assigned to nobody

[2020-10-07 22:06] Luisitox commented on #87
Hi @Magdoll,

Thanks, that worked like a charm

[2020-10-07 22:06] #87 closed, assigned to nobody

[2020-10-08 23:58] mollydawson commented on #86
Hi Liz,

Thank you so much for your help/time with this. Much appreciated.

Best,

Molly

On Oct 6, 2020, at 4:15 PM, Elizabeth Tseng <notifications@github.com> wrote:

﻿

Closed #86<https://urldefense.com/v3/__https://github.com/Magdoll/Cogent/issues/86__;!!IrdRlI43zQ!PuS_VpBAAxcYwoIgGY0RNnkw2esYdQ_G_tOIYfaZo-VzkZUsVfaObilB_gZrrp9AQXz1JGjI8w$>.

—
You are receiving this because you were mentioned

[2020-11-05 09:33] shri1984 opened #89 "Raise CycleDetectedException"
Hi,
 I am getting a errror "scipy.sparse.linalg.eigen.arpack.arpack.ArpackNoConvergence: ARPACK error -1: No convergence (77651 iterations, 66/100 eigenvectors converged)" when I rerun a one cluster after it failed in batch processing of bin.

I also got an error "CYCLE detected through simple_cycles! Raise CycleDetectedException!" when I was running a failed reconstruction (i used genome there).

[2020-11-05 15:01] Magdoll commented on #89
Hi @shri1984 ,
This probably means the input is just too repetitive - even with increasing K mer sizes, it's still blowing up the graph.

I can give it a shot if you are willing to share just that cluster but no guarantees it can be resolved.

-Liz

[2020-11-05 15:36] shri1984 commented on #89
Hi,

Thanks for your reply.  You are right. It is from an organism with the highly repetitive genome, I tried a few times now. It did not budge.  I just wonder if I don't manage to fix those clusters is there any other way out to move forward?

[2020-11-05 17:07] Magdoll commented on #89
Hi @shri1984 ,
Depends on what the goal is - What is the goal of using Cogent here? is it to do gene detection/annotation or create a mock reference genome?

[2020-11-05 20:24] shri1984 commented on #89
Thanks again,
We are building a transcriptome database covering as many genes as possible. I have a genome with lot of contigs (chromosome level as well as unplaced). Annotation is bad. So the plan is to use  "annotated transcripts" to re annotate the genome and use that for other RNA seq projects.
I found quite a few unmapped transcripts when mapped my HQ transcripts to that genome. That was surp

[2020-11-06 20:44] Magdoll commented on #89
Hi @shri1984 ,
Thanks for the response. That helps.
Is it just this one cluster that had an issue? How many transcripts are in it?

Some idea for what to do if reconstruction fails - just use the transcripts as is. The downside is if you have a lot of transcripts in that partition/cluster it blows up the database size a bit.

If you are willing to share just this partition confidentially i can giv

[2020-12-24 06:27] Gaodelike opened #90 "Why happend this problem：pulp.apis.core.PulpSolverError: PuLP: Error while executing glpsol"
I run reconstruct using cogent 8.0 reconstruct_contig.py The results are as follows:

`pulp.apis.core .PulpSolverError: PuLP: Error while executing glpsol`

What's the reason? I hope we can get an answer! thank you very much!

[2020-12-25 06:58] Gaodelike commented on #90
This problem has been solved, I upgraded the version of pulp from 2.3 to 2.4, and this error no longer occurs

[2020-12-25 06:59] Gaodelike commented on #90
This problem has been solved, I upgraded the version of pulp from 2.3 to 2.4, and this error no longer occurs

[2021-01-12 01:21] jodithea opened #91 "tally_Cogent_contigs_per_family.py error"
I am trialling Cogent on the test_human.fa data as shown on the Wiki, though I did not use the reference genome hg38 for the coding genome reconstruction as I do not have a reference genome for my data and wanted to check I could do everything without it.

python /path/Cogent/helper_scripts/tally_Cogent_contigs_per_family.py \
        test_human/ hg38 human_output

The above works well. I used hg3

[2021-01-28 23:32] mprotas69 opened #92 "When running cogent, most of sequences ended up being in the tucked category"
Hi! I have four populations I have been trying to run Cogent for. Three seemed to work really well and I didn't have an issue. The other one, I have been struggling with. First I  tried the instructions for family finding for a small dataset.  8969 of the sequences ended up going into one partition (and didn't seem to have much sequence similarity). Then within this bin there were many folders tit

[2021-01-29 18:20] Magdoll commented on #92
Hi @mprotas69 ,
The "tucked" sequences mean they are subsequences of other larger sequences, so in an effort to deal with larger datasets and since subsequences do not give more information in terms of understanding the coding regions of the genome, they are put (tucked) aside.

I'm not sure about the 8969 sequences being initially in one giant bin. The cutoff could have been too relaxed?

Is this

[2021-02-01 18:53] mprotas69 commented on #92
Hi Liz,
Thanks so much for the suggestions.  It is an unusual species (a crustacean) and likely does have some sort of repetitiveness.
I changed the sim_thershold to .2. This seemed to work well as the fake genome generated had a similar BUSCO profile to that of the sequences before they were run through cogent (except the number of complete and single-copy BUSCOs was larger now and the Complete a

[2021-02-01 22:18] Magdoll commented on #92
Hi @mprotas69  (Meredith),

I'm...not sure why that was OK for the other two populations! Can you do a BLAST of the Cogent results to see if these genes in this strange population also showed up in the other ones? Maybe run Cogent w new param on the other ones as well?

-Liz

[2021-03-17 18:52] LionOfComarre opened #93 "First sequence in unassigned.list is formated wrong for get_seqs_from_list.py"
Since the command used to generate the unassigned.list file in the tutorial simply divides the last line of prefix.partition.txt on the commas, the first entry retains the "#unassigned:" text before the sequence name, and is therefore not included in unassigned.fasta.

As has been mentioned elsewhere as well, the command also works incorrectly when using the final.partition.txt from using the larg

[2021-03-30 03:26] zhuqianhua opened #95 "Error for reconstruct_contig.py"
I was running Cogent on the test data as described by WIKI, steps as follows:
cd <cogent_directory>/test_data
run_mash.py test_human.fa
process_kmer_to_graph.py -c test_human.weights test_human.fa \
   test_human.fa.s1000k30.dist test_human test_human
reconstruct_contig.py test_human/test_human_0

However, for the last step reconstruct_contig.py, it throws an error:
/ifswh1/BC_RD/RD_COM/USER/xielu

[2021-03-30 08:11] #95 closed, assigned to nobody

[2021-04-21 07:17] defendant602 commented on #95
Hello， @zhuqianhua ,  did you solve your problem? I run into the same error with you ...

[2021-04-21 07:23] zhuqianhua commented on #95
I had updated the PuLP package, and it worked.

[2021-08-27 15:39] wonitawowowo opened #96 "Error in reconstruct_contig.py"
Hellow,during I running Cogent with the test data as described by WIKI,one error rise:
reconstruct_contig.py test_human/test_human_0
Then I got:
--------------------------------------------------------------------------------------------------------------------------------------------
2.15-r905
/home/kangzong/miniconda3/envs/anaCogent/lib/python3.7/site-packages/pulp/pulp.py:1316: UserWarning: Spa

[2021-08-28 14:38] wonitawowowo opened #97 "When run collapse_isoforms_by_sam.py,it told me No valid records from my sorted.sam file"
When I run Cogent as the Working with unmapped or badly-mapped Iso-Seq transcripts only ：
----------------------------------------------------------------------------------------------------------------------------------------------
minimap2 -ax splice -t 30 -uf --secondary=no Ai.ragtag.chr.fasta SRR10488719_subreads.fa > SRR10488719.fasta.sam

sort -k 3,3 -k 4,4n SRR10488719.fasta.sam > SRR104887

[2021-09-03 03:43] Magdoll commented on #97
Hi @wonitawowowo ,

This SAM file indicates nothing is mapped.
-Liz

[2021-09-03 03:48] Magdoll commented on #96
Hi @wonitawowowo ,
I checked my pulp version and it's 1.6.8. I'm not sure if having a newer version (2.5.0 as you do) is the problem? One possible way is to downgrade pulp to 1.6.8 and see if that works..
-Liz

[2021-09-03 03:53] wonitawowowo commented on #96
Thanks @Magdoll I will try it.

[2021-09-03 05:11] wonitawowowo commented on #97
Hi @Magdoll ，Thanks for your reminding，
I find there are many sequences can’t map to my azadirachta indica genome just as：
----------------------------------------------------------------------------------------------------------------------------------------------
kangzong@gpz:~/ncbi/public/sra$ grep -e '@SRR10488719.5449800' SRR10488719.fasta.sorted.sam
@SRR10488719.5449800    4       *       0

[2021-09-03 05:12] wonitawowowo commented on #97
Hi @Magdoll ，Thanks for your reminding，
I find there are many sequences can’t map to my azadirachta indica genome just as：
----------------------------------------------------------------------------------------------------------------------------------------------
kangzong@gpz:~/ncbi/public/sra$ grep -e '@SRR10488719.5449800' SRR10488719.fasta.sorted.sam
@SRR10488719.5449800    4       *       0

[2021-09-06 11:50] wonitawowowo commented on #97
I find it's beacuse the '@' before the sequeces ID which I didn't remove when convert the fastq file to fasta.When I  delete the ‘@’，it works well.

[2021-11-10 06:26] #97 closed, assigned to nobody

[2021-11-10 06:27] #96 closed, assigned to nobody

[2022-01-21 17:51] bijendrabio opened #98 "run_preCluster.py --cpus=30 CalledProcessError(retcode, cmd)"
Hello All,
I am receiving following error while running the Family finding step of Cogent for a large dataset.  Kindly suggest.

_input file:_
isoseq_flnc.fasta

_command:_
python /path/to/cDNA_Cupcake/cupcake2/tofu2/run_preCluster.py --cpus=30

raise CalledProcessError(retcode, cmd)
subprocess.CalledProcessError: Command '/usr/bin/time -v minimap2 -H -f 0.00001 -N 2000000 -m 20 -t 20 seed0.fasta

[2022-02-10 07:45] FarrahKhan1400 opened #99 "Should the fake genome be the reconstructed contigs + unassigned sequences + orphans?"
Hi @fantastycrane ,

Oh that makes sense now!

The `preCluster_out.orphans.fasta` are orphan sequences that are effectively "unassigned", so yes they should be included. I'll update the wiki.

The `preCluster_out.chimeras.fasta` are likely chimeric artifacts. I recommend simply discarding them.

--Liz

_Originally posted by @Magdoll in https://github.com/Magdoll/Cogent/issues/22#issuecomment-37283

[2022-03-08 19:45] unique379r opened #100 "Sanity check failed by "filter_away_subset.py""
Hi
All steps before "Filter away 5' degraded isoforms" were good, NO Error was reported but this script generates NO OUTPUT but just these stdout:

[code]

**I was suspecting that it might be because i used "--dun-merge-5-shorter" option in collapse_isoforms_by_sam.py but thats not the case.**

Note:
1. I had used uLTRA aligment on HQ reads generated by isoseq3.
2. fusion_finder.py  does not suppo

[2022-03-31 14:34] #99 closed, assigned to nobody

[2022-03-31 18:43] NahlaHu opened #101 "get_bad_or_unmapped_hq.py"
Hi,

I was trying to run the command python <path_to_Cogent>/get_bad_or_unmapped_hq.py hq.fasta hq.5merge
and I have this error:
 File "/usr/local/Cogent/Cogent/helper_scripts/get_bad_or_unmapped_hq.py", line 20, in <module>
    print >> sys.stderr, "Reading transcript file {0}....".format(input)
TypeError: unsupported operand type(s) for >>: 'builtin_function_or_method' and '_io.TextIOWrapper'. D

[2022-04-01 07:41] FarrahKhan1400 opened #102 "Scipy error when using process_kmer_to_graph.py script"
Hi Magdoll,

I ran Cogent at the beginning of this year with no issue.

I recently have recreated the environment and tried to use it and am having issues with the process_kmer_to_graph.py step.

When I run it this is the error I get:

  File "/home/khnfar025/.conda/envs/anaCogent/lib/python3.7/site-packages/networkx-2.7.1-py3.7.egg/networkx/convert_matrix.py", line 1020, in to_scipy_sparse_matrix

[2022-04-02 23:29] Magdoll commented on #101
HI @NahlaHu  - my guess is you are not using Python 3?
-Liz

[2022-04-03 22:44] NahlaHu commented on #101
Thanks Liz,
Well, the python version we have is Python 3.8.13.
And the badmapped.fasta file was generated, but sized zero and generate this error. what is your suggestion?
Thanks

[2022-10-12 17:48] JohnnyChen1113 commented on #101
The get_bad_or_unmapped_hq.py script written by python 2， so when you change your python version to python 2，that will generate the result smoothly.